@use "sass:math";

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.Menu-toggle {
  $distance: 30%;
  $lineHeight: 0.25em;

  position: fixed;
  top:0;
  right:0.5rem;
  background-color: transparent;
  height: $header-height;
  width: math.div($header-height, 3)*2;
  min-height: 4em;
  min-width: 2.6em;
  z-index: $z-index-menu + 1;

  span {
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
    right: 1rem;
    height: 0;
    border-bottom: 3px solid $primary-color;

    transition: transform .2s 0s ease-in,
                opacity 0s .2s,
                top .2s .2s ease-out,
                border-color .2s ease;

    &:nth-child(2) { top: 33% }
    &:nth-child(3) { top: 63%; }
  }

  &:hover {
    span {
      border-color: lighten($primary-color, 15%);
    }
  }

  &.Menu-toggle--active {
    span {
      top: calc(50% - #{$lineHeight*0.5}) !important;
      border-color: $primary-color-contrast;

      transition: top .2s 0s ease-in,
                  background-color .1s .1s,
                  opacity 0s .2s,
                  transform .2s .2s ease-out,
                  border-color .2s ease;

      &:nth-child(1) { opacity:0 }
      &:nth-child(2) { transform: rotate(45deg) }
      &:nth-child(3) { transform: rotate(-45deg) }
    }
  }
}
