.CityInfo {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: $z-index-menu +1;
  pointer-events: none;

  @include md {
    position: relative;
    z-index: auto;
    pointer-events: all;
    top: -10px;
    margin-bottom: -20px;
  }

  .CityInfo-Closer {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: background-color .4s ease;

    @include md {
      display: none;
    }
  }


  .SyncListToggle {
    border-top: 1px solid rgba(0,0,0,.2);
    margin-top: 0.75rem;
    padding-top: 0.75rem;

    .SyncListToggle-Button {
      position: relative;
      text-align: left;
      line-height: 1.25em;
      min-height: 2.25rem;
    }

    @include md {
      display: none;
    }
  }

  &.CityInfo--active {
    pointer-events: all;

    .CityInfo-Closer {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .CityInfo-Wrapper {
      transform: none;
    }
  }
}

.CityInfo-Wrapper {
  margin: 0;
  background-color: white;
  color: $primary-color;
  padding: 0 1rem 3rem;
  z-index: $z-index-menu - 10;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform .4s ease;

  @include shadow-box;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;

  @include md {
    position: relative;
    bottom: auto;
    left: auto;
    width: auto;
    right: auto;
    margin: 0 0.5rem 1rem;
    padding-bottom: 0.5rem;
    padding-top: 10px;
    transform: none;
  }

  .CityInfo-Content {
    margin-left: -0.5rem;
    width: calc( 100% + 1rem );
    display: flex;
    align-items: flex-start;

    .CityInfo-Link {
      color: $primary-color;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0.65rem 0.5rem 0.5rem 3.5rem;
      margin: 0.5rem 0.25rem 0.5rem 0;
      line-height: 1.2em;
      border-radius: 3px;
      flex-grow: 1;
      transition: background-color .1s ease-in-out;

      &:hover {
        background-color: rgb(240, 240, 240);
      }

      &:last-child {
        margin-right: 0;
      }

      strong {
        font-size: 1rem;
        margin-bottom: 0.1rem;

        @include md {
          font-size: 1rem;
        }
      }

      span {
        font-family: sans-serif;
        color: fade_out($primary-color, 0.4);
        font-size: .85rem;

        a {
          color: fade_out($primary-color, 0.4);
        }
      }

      &::before {
        content:'';
        display: block;
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
        width:2.5rem;
        height:2.5rem;
        padding:.2rem;
        margin-right: 1rem;
        background-color: $primary-color;

        background-image:url(../../assets/icons/icon_upload.svg);
        background-size:contain;
        background-repeat: no-repeat;
        background-origin: content-box;
      }

      &.CityInfo-Link-Wiki {
        &::before {
          background-image:url(../../assets/icons/icon_edit.svg);
        }
      }
    }
  }

  .CityInfo-Footer {
    border-top: 1px solid rgba(0,0,0,.1);
    display: flex;
    margin-top: 0;
    padding-top: 0.5rem;
    margin-left: -0.5rem;
    width: calc( 100% + 1rem );

    .CityInfo-Link {
      padding: 0.5rem;
      color: $primary-color;
      font-weight: bold;
      font-size: 0.85rem;
      border-radius: 3px;
      margin-right: 0.25rem;
      transition: background-color .1s ease-in-out;

      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }
}

.ExternalLink-Overlay {
  position:absolute;
  top:$header-height;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,.6);
  z-index: $z-index-menu + 200;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @include md {
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .ExternalLink-Overlay-Inner {
    background-color:white;
    position:relative;
    padding:3em;
    box-shadow:.1em .1em .3em rgba(0,0,0,.15);
    flex: 0;

    @include md {
      max-width: 50%;
    }

    button {
      position:absolute;
      top:3em;
      right:3em;
      line-height:2em;
      text-decoration: underline;
    }

    h1 {
      margin-top:0;
      font-size:1.4em;
      margin-bottom:1em;
    }

    p {
      font-family: sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    a {
      display:block;
      line-height:2.5em;
      background-color: $secondary-color;
      color: $secondary-color-contrast;
      font-size:1.2em;
      text-decoration:none;
      padding:0 .5em;
      text-align:center;
      margin-top: 2rem;
    }
  }
}
