.CityInfo {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: $z-index-menu +1;
  pointer-events: none;

  @include md {
    position: relative;
    z-index: auto;
    pointer-events: all;
  }

  .CityInfo-Closer {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: background-color .4s ease;

    @include md {
      display: none;
    }
  }


  .SyncListToggle {
    border-top: 1px solid rgba(0,0,0,.2);
    margin-top: 0.75rem;
    padding-top: 0.75rem;

    .SyncListToggle-Button {
      position: relative;
      text-align: left;
      line-height: 1.25em;
      min-height: 2.25rem;
    }

    @include md {
      display: none;
    }
  }

  &.CityInfo--active {
    pointer-events: all;

    .CityInfo-Closer {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .CityInfo-Wrapper {
      transform: none;
    }
  }
}

.CityInfo-Wrapper {
  margin: 0;
  background-color: white;
  color: $primary-color;
  padding: 0 1rem 3rem;
  box-shadow:.1em .1em .3em rgba(0,0,0,.15);
  z-index: $z-index-menu - 10;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform .4s ease;

  @include md {
    position: relative;
    bottom: auto;
    left: auto;
    width: auto;
    right: auto;
    margin: 0 0.5rem 1rem;
    padding-bottom: 1rem;
    transform: none;
  }

  .CityInfo-Content {
    padding-left: 0.2rem;

    .CityInfo-Link {
      color: $primary-color;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0.2rem 0 0 4rem;
      margin: 1.5rem 0;
      line-height: 1.5em;
      height: 3rem;

      strong {
        font-size: 1.2rem;

        @include md {
          font-size: 1.5rem;
        }
      }

      span {
        font-family: sans-serif;
        color: fade_out($primary-color, 0.4);

        a {
          color: fade_out($primary-color, 0.4);
        }
      }

      &::before {
        content:'';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width:3rem;
        height:3rem;
        padding:.2rem;
        margin-right: 1rem;
        background-color: $primary-color;

        background-image:url(../../assets/icons/icon_upload.svg);
        background-size:contain;
        background-repeat: no-repeat;
        background-origin: content-box;
      }

      &.CityInfo-Link-Wiki {
        &::before {
          background-image:url(../../assets/icons/icon_edit.svg);
        }
      }
    }
  }

  .CityInfo-Footer {
    border-top: 1px solid rgba(0,0,0,.2);
    display: flex;
    margin-top: 0.75rem;
    padding-top: 0.75rem;

    .CityInfo-Link {
      color: rgba(0,0,0,.8);
      text-decoration: underline;
      padding-right: 1em;
    }
  }
}

.ExternalLink-Overlay {
  position:absolute;
  top:$header-height;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,.6);
  z-index: $z-index-menu + 200;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @include md {
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .ExternalLink-Overlay-Inner {
    background-color:white;
    position:relative;
    padding:3em;
    box-shadow:.1em .1em .3em rgba(0,0,0,.15);
    flex: 0;

    @include md {
      max-width: 50%;
    }

    button {
      position:absolute;
      top:3em;
      right:3em;
      line-height:2em;
      text-decoration: underline;
    }

    h1 {
      margin-top:0;
      font-size:1.4em;
      margin-bottom:1em;
    }

    p {
      font-family: sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    a {
      display:block;
      line-height:2.5em;
      background-color: $secondary-color;
      color: $secondary-color-contrast;
      font-size:1.2em;
      text-decoration:none;
      padding:0 .5em;
      text-align:center;
      margin-top: 2rem;
    }
  }
}
