<h2>Willkommen bei WikiDaheim!</h2>
<p>WikiDaheim ist ein Projekt von Freiwilligen der Wikimedia-Projekte wie Wikipedia, das sich mit dem Sammeln von Informationen
  über Gemeinden in ganz Österreich beschäftigt. Bei der Bebilderung und Beschreibung von Orten in Österreich bestehen teilweise 
  noch große Lücken. Um diese zu schließen, können über WikiDaheim daher das ganze Jahr über Fotos zu Österreich hochgeladen werden. Vorhandene 
  und (neue) fehlende Bilder werden laufend aktualisiert.
</p>

<h2>Wie kann ich beitragen?</h2>
<p>Indem du Informationen zu deiner Heimatgemeinde beiträgst, sei es als Text in der Wikipedia oder als Foto, hilfst du Wikipedia
  und ihren Schwesterprojekten dabei, das Wissen dieser Welt zu sammeln und für alle frei verfügbar zu machen.
</p>

<h2>Wie kann ich am Fotoewettbewerb teilnehmen?</h2>
<p>Der Fotowettbewerb fand zwischen 1. Juli und 7. Oktober 2018 statt. Das Foto musste nicht im Wettbewerbszeitraum erstellt worden sein, zudem sind auch alte Aufnahmen von Interesse.
  Nähere Informationen zum Wettbewerb findest du auf <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Jury">der dazugehörigen Wikipedia-Seite</a>!
  Die Ergebnisse des Wettbewerbs werden vorausichtlich Ende November bekannt gegeben.
</p>

<h2>Was ist für Wikipedia &amp; Co. interessant?</h2>
<p>Interessant sind vor allem Informationen und Bilder, die noch unbekannte Seiten der Gemeinden Österreichs hervorheben. Wenn
  Dir also bei der Lektüre deines Gemeindeartikels etwas auffällt oder die Bilder zu deiner Gemeinde Lücken aufweisen, ist
  das deine Chance, diese Lücken zu füllen und zur Wikipedia beizutragen.</p>
<p>Falls Dir dazu nichts Konkretes einfallen möchte, so haben wir Themen vorbereitet, wo Wikipedia &amp; Co. deine Hilfe gebrauchen
  könnten. Sei es ein denkmalgeschütztes Objekt im Ort, ein Bild von der Feuerwehr oder die heimische Natur, alles ist auf
  die ein oder andere Art wissenswert.</p>

<h2>Und wie sah das 2017 aus?</h2>
<p>Das Siegerbild stammt von Friedrich Böhringer aus Vorarlberg, <a href="https://commons.wikimedia.org/wiki/WikiDaheim_Winners_2017_in_Austria">die übrigen Gewinner sind hier zu finden</a>.</p>
<figure style="margin-left: 0px; margin-right: 0px;">
  <img src="https://commons.wikimedia.org/wiki/Special:FilePath/Hadeldorfstraße_5_Meiningen,_Interior_03.jpg?width=1024">
  <figcaption>
    ©
    <a href="https://commons.wikimedia.org/wiki/User:B%C3%B6hringer">Böhringer Friedrich</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Hadeldorfstraße_5_Meiningen,_Interior_03.jpg">Hadeldorfstraße 5 Meiningen, Interior 03</a>,
    <a href="https://creativecommons.org/licenses/by-sa/3.0/at/deed.en">CC BY-SA 3.0 AT</a>
  </figcaption>
</figure>
