<h1>Fotowettbewerb WikiDaheim</h1>
<p>Stell deine Heimat mit deinen Fotos in der Wikipedia vor!</p>
<p>Hilf mit die Wikipedia-Seiten zu österreichischen Gemeinden zu bebildern und zeige so mit frei verfügbaren Bildern deren
  einzigartigen Charakter! <strong>Der Wettbewerb für 2018 wurde am 7. Oktober beendet!</strong></p>
<h2>Wettbewerbszeitraum</h2>
<p>
  Von 1. Juli 2018 bis 7. Oktober 2018 um 24:00 Uhr MESZ war es möglich, Bilder auf dieser Website hochzuladen.
  <!-- (Alternative für erfahrene BenutzerInnen: direkt über Wikimedia Commons unter Verwendung der Vorlage {{WikiDaheim|2017|at|topic=}} hochladen.) -->
</p>

<!--
<h2>Themen</h2>
<p>Auch du kannst teilnehmen, ob mit Landschaftspanorama, Einzeldenkmal, Weitwinkel oder Makroaufnahme!</p> 
<p>Dazu musst du dich als BenutzerIn bei Wikimedia Commons, der zentralen Bilddatenbank für alle Wikimedia-Projekte, anmelden.
  Das kann mit dem richtigen Namen oder mit einem Nickname (Spitznamen) geschehen. Auch deine E-Mail-Adresse musst du bekanntgeben.
  Diese wird nicht veröffentlicht. Nur im Gewinnfall bekommst du ein E-Mail und kannst dann deinen Namen und Adresse der
  Wettbewerbsleitung bekanntgeben. Auch da ist eine Veröffentlichung deiner Daten ohne deine Zustimmung nicht vorgesehen.</p>
<p>Die Einreichung erfolgte über den Uploadbutton.</p> 
<p>
  <strong>Information:</strong>
  <br>
  Die zehn besten Bilder von denkmalgeschützten Objekten nahmen automatisch am internationalen Wettbewerb
  <a href="http://www.wikilovesmonuments.org/" target="_blank" rel="noopener noreferrer">Wiki Loves Monuments</a> teil.
</p> -->

<h2>Preise 2018</h2>
<p>
  <strong>von Wikimedia Österreich</strong>
  <br>
  <strong>1. Preis:</strong>
  600 € Gutschein für Fotoequipment oder Fotoentwicklung <strong>oder</strong> eine Reise zur
  <a href="https://meta.wikimedia.org/wiki/Wikimania_2019" target="_blank" rel="noopener noreferrer">Wikimania 2019</a>
  nach Schweden
  <br>
  <strong>2. Preis:</strong>
  150 € Gutschein für Fotoequipment oder Fotoentwicklung 
  <br>
  <strong>3. Preis:</strong>
  75 € Gutschein für Fotoequipment oder Fotoentwicklung
  <br>
  <strong>4. bis 10. Preis:</strong>
  50 € Gutschein für Fotoequipment oder Fotoentwicklung
  <br><br>
  <strong>Sonderpreise für die Themen</strong>
  <br>
  <strong>1. Preis:</strong>
  50 € Gutschein für Fotoequipment oder Fotoentwicklung für folgende Themenbereiche:
  <ul>
  <li>Denkmale (in Zusammenarbeit mit dem Bundesdenkmalamt)</li>
  <li>Natur (geschützte Natur in Österreich wie Nationalparks, Naturdenkmäler, Naturschutzgebiete, etc.)</li>
  <li>Gemeingüter (alle auf WikiDaheim angegebenen Gemeingüter wie Gemeindeämter, Museen, Friedhöfe, etc.)</li>
  <li>Öffentliche Kunst (nicht nur "Public Art", sondern jedwede Kunst im öffentlichen Raum)</li>
  <li>Kellergassen</li>
</ul>
</p>

<h2>Regeln</h2>
<ul>
  <li>Das teilnehmende Bild muss in Österreich fotografiert worden sein.</li>
  <li>Das Bild muss während des Wettbewerbszeitraums hochgeladen worden sein.</li>
  <li>Das Bild kann vor und während des Wettbewerbszeitraums aufgenommen worden sein.</li>
  <li>Der dokumentarische Ansatz steht vor dem künstlerischen Aspekt.</li>
  <li>
    Fotos müssen unter einer
    <a href="https://commons.wikimedia.org/wiki/Commons:Lizenzvorlagen#Freie_%E2%80%9ECreative-Commons-Lizenzen%E2%80%9C" target="_blank" rel="noopener noreferrer">freien Creative-Commons-Lizenz</a>
    auf
    <a href="https://commons.wikimedia.org/wiki/Hauptseite" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a>
    veröffentlicht werden.
  </li>
  <li>Eine aussagekräftige Beschreibung/Kategorisierung ist ausdrücklich erwünscht.</li>
  <li>In den Benutzereinstellungen auf Wikimedia Commons muss die Einstellung „E-Mail-Empfang von anderen Benutzern ermöglichen“
    aktiviert sein sowie eine funktionstüchtige E-Mail-Adresse angegeben werden. Sonst ist uns eine Kontaktaufnahme leider
    nicht möglich.</li>
</ul>

<h2>Sollte ich etwas besonders beachten?</h2>
<p>
  Fotos sollten den
  <a href="https://commons.wikimedia.org/wiki/Commons:Policies_and_guidelines/de" target="_blank" rel="noopener noreferrer">Richtlinien und Empfehlungen</a>
  von Wikimedia Commons entsprechen. Insbesondere von Manipulationen und Bearbeitungen in der Form von Rahmen und sichtbaren
  <a href="https://commons.wikimedia.org/wiki/Commons:Watermarks" target="_blank" rel="noopener noreferrer">Wasserzeichen</a>
  sollte abgesehen werden. Eine Auflösung von 2 Megapixel sollte nicht unterschritten werden. Die
  <a href="https://commons.wikimedia.org/wiki/Commons:Bild-Richtlinien" target="_blank" rel="noopener noreferrer">Leitlinie für Qualitätsbilder</a>
  ist eine gute Anlaufstelle für die Kriterien, die Fotos erfüllen sollten.
</p>

<h2>Jury</h2>
<p>Eine Vorjury aus WikipedianerInnen und sichtete alle Einsendungen, überprüfte die Einhaltung der Wettbewerbsregeln und übermittelte 
  eine Auswahl von ca. 500 Fotos an die Jury, welche die Gewinner Ende November ermittelten:</p>

<h2>Gewinnerfotos 2018</h2>
<h3>Allgemeine Kategorie</h3>
<p><strong>1. Platz</strong></p>
<p>
<a title="Duke of W4 [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Lindenallee_bei_Buchbach_2017-10.jpg"><img width="512" alt="Lindenallee bei Buchbach 2017-10" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Lindenallee_bei_Buchbach_2017-10.jpg/512px-Lindenallee_bei_Buchbach_2017-10.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Duke_of_W4">Duke of W4</a>, <a href="https://commons.wikimedia.org/wiki/File:Lindenallee_bei_Buchbach_2017-10.jpg">Lindenallee bei Buchbach 2017-10</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a> 
</p>

<p><strong>2. Platz</strong></p>
<p>
<a title="Herzi Pinki [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:UNIQA_Tower_03.jpg"><img width="256" alt="UNIQA Tower 03" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/UNIQA_Tower_03.jpg/256px-UNIQA_Tower_03.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Herzi_Pinki">Herzi Pinki</a>, <a href="https://commons.wikimedia.org/wiki/File:UNIQA_Tower_03.jpg">UNIQA Tower 03</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>3. Platz</strong></p>
<p>
<a title="Henry Kellner [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Burgruine_Staatz_4582_Panini_3.jpg"><img width="512" alt="Burgruine Staatz 4582 Panini 3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Burgruine_Staatz_4582_Panini_3.jpg/512px-Burgruine_Staatz_4582_Panini_3.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Hamster28">Henry Kellner</a>, <a href="https://commons.wikimedia.org/wiki/File:Burgruine_Staatz_4582_Panini_3.jpg">Burgruine Staatz 4582 Panini 3</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>4. Platz</strong></p>
<p>
<a title="Canonsepp [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Die_Taugl.jpg"><img width="512" alt="Die Taugl" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Die_Taugl.jpg/512px-Die_Taugl.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Canonsepp">Canonsepp</a>, <a href="https://commons.wikimedia.org/wiki/File:Die_Taugl.jpg">Die Taugl</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>5. Platz</strong></p>
<p>
<a title="Viennaphotographer [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Wien_Energie.jpg"><img width="512" alt="Wien Energie" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Wien_Energie.jpg/512px-Wien_Energie.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Viennaphotographer">Viennaphotographer</a>, <a href="https://commons.wikimedia.org/wiki/File:Wien_Energie.jpg">Wien Energie</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>6. Platz</strong></p>
<p>
<a title="Karl Svozil [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Panorama_from_Schober.jpg"><img width="512" alt="Panorama from Schober" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Panorama_from_Schober.jpg/512px-Panorama_from_Schober.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Karlsvozil">Karl Svozil</a>, <a href="https://commons.wikimedia.org/wiki/File:Panorama_from_Schober.jpg">Panorama from Schober</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>7. Platz</strong></p>
<p>
<a title="Thomas Ledl [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Vorw%C3%A4rtshaus_Innenansicht_5.jpg"><img width="512" alt="Vorwärtshaus Innenansicht 5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Vorw%C3%A4rtshaus_Innenansicht_5.jpg/512px-Vorw%C3%A4rtshaus_Innenansicht_5.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Thomas_Ledl">Thomas Ledl</a>, <a href="https://commons.wikimedia.org/wiki/File:Vorwärtshaus_Innenansicht_5.jpg">Vorwärtshaus Innenansicht 5</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>8. Platz</strong></p>
<p>
<a title="Stefan Kasberger [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Felssturz_an_Hohes_Kreuz.jpg"><img width="256" alt="Felssturz an Hohes Kreuz" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Felssturz_an_Hohes_Kreuz.jpg/256px-Felssturz_an_Hohes_Kreuz.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Stefankasberger">Stefan Kasberger</a>, <a href="https://commons.wikimedia.org/wiki/File:Felssturz_an_Hohes_Kreuz.jpg">Felssturz an Hohes Kreuz</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>9. Platz</strong></p>
<p>
<a title="Bwag [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Wien_-_russisch-orthodoxe_Kathedrale.JPG"><img width="256" alt="Wien - russisch-orthodoxe Kathedrale" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Wien_-_russisch-orthodoxe_Kathedrale.JPG/256px-Wien_-_russisch-orthodoxe_Kathedrale.JPG"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Bwag">Bwag</a>, <a href="https://commons.wikimedia.org/wiki/File:Wien_-_russisch-orthodoxe_Kathedrale.JPG">Wien - russisch-orthodoxe Kathedrale</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>10. Platz</strong></p>
<p>
<a title="Günter Seggebäing, CC BY-SA 3.0 [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)]" href="https://commons.wikimedia.org/wiki/File:20180730_Wei%C3%9Fkugel,_%C3%96tztaler_Alpen_(06359).jpg"><img width="512" alt="20180730 Weißkugel, Ötztaler Alpen (06359)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/20180730_Wei%C3%9Fkugel%2C_%C3%96tztaler_Alpen_%2806359%29.jpg/512px-20180730_Wei%C3%9Fkugel%2C_%C3%96tztaler_Alpen_%2806359%29.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Watzmann">Günter Seggebäing</a>, <a href="https://commons.wikimedia.org/wiki/File:20180730_Weißkugel,_Ötztaler_Alpen_(06359).jpg">20180730 Weißkugel, Ötztaler Alpen (06359)</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="license">CC BY-SA 3.0</a>
</p>

<h3>Sonderkategorien</h3>
<p><strong>Natur</strong></p>
<p>
<a title="streunerich [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Stiel-Eiche_in_Viktring.jpg"><img width="256" alt="Stiel-Eiche in Viktring" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Stiel-Eiche_in_Viktring.jpg/256px-Stiel-Eiche_in_Viktring.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Streunerich">streunerich</a>, <a href="https://commons.wikimedia.org/wiki/File:Stiel-Eiche_in_Viktring.jpg">Stiel-Eiche in Viktring</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>Gemeingüter</strong></p>
<p>
<a title="Isiwal [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Engelhartszell_Jochenstein_Grenze_zu_Deutschland-5252.jpg"><img width="256" alt="Engelhartszell Jochenstein Grenze zu Deutschland-5252" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Engelhartszell_Jochenstein_Grenze_zu_Deutschland-5252.jpg/256px-Engelhartszell_Jochenstein_Grenze_zu_Deutschland-5252.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Isiwal">Isiwal</a>, <a href="https://commons.wikimedia.org/wiki/File:Engelhartszell_Jochenstein_Grenze_zu_Deutschland-5252.jpg">Engelhartszell Jochenstein Grenze zu Deutschland-5252</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>Öffentliche Kunst / Public Art</strong></p>
<p>
<a title="Thomas Ledl [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Portal_of_Saint_Michael_Church,_Vienna.jpg"><img width="256" alt="Portal of Saint Michael Church, Vienna" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Portal_of_Saint_Michael_Church%2C_Vienna.jpg/256px-Portal_of_Saint_Michael_Church%2C_Vienna.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Thomas_Ledl">Thomas Ledl</a>, <a href="https://commons.wikimedia.org/wiki/File:Portal_of_Saint_Michael_Church,_Vienna.jpg">Portal of Saint Michael Church, Vienna</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>Kellergassen</strong></p>
<p>
<a title="Manfred Kuzel [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Sitzendorf_Kellergasse_18_a.jpg"><img width="512" alt="Sitzendorf Kellergasse 18 a" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Sitzendorf_Kellergasse_18_a.jpg/512px-Sitzendorf_Kellergasse_18_a.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Manfred_Kuzel">Manfred Kuzel</a>, <a href="https://commons.wikimedia.org/wiki/File:Sitzendorf_Kellergasse_18_a.jpg">Sitzendorf Kellergasse 18 a</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>
  
  
