<h1>Photo contest WikiDaheim</h1>
<p>Present your home town with your pictures on Wikipedia!</p>
<p>Help Wikipedia illustrate villages and areas of Austria with your pictures and show unique features of those areas! 
  <strong>The 2018 edition of the competition ended on October 7th 2018!</strong></p>
<h2>Timeframe</h2>
<p>
  You can upload pictures to Wikimedia Commons from July 1st through October 7th, 24:00 CEST via the upload links on this website.
  <!-- (Alternative für erfahrene BenutzerInnen: direkt über Wikimedia Commons unter Verwendung der Vorlage {{WikiDaheim|2017|at|topic=}} hochladen.) -->
</p>

<!--
<h2>How to take part</h2>
<p>By taking pictures of landscapes, monuments, wide-angle views or small details, you can also be part of this contest!</p>
<p>In order to upload your pictures, you have to register a username on Wikimedia Commons, if you haven't done so yet. In terms of 
user names, you can either use your real name or a pseudonym. It is important that you also include an email address - that address
will not be published, but it will be necessary in order to reach you if you win a prize. None of your data will be published without
your express permission.</p>
<p> 
  <strong>Important:</strong>
  <br>
  The ten best pictures of monuments will take part in the international contest <a href="http://www.wikilovesmonuments.org/" target="_blank" rel="noopener noreferrer">Wiki Loves Monuments</a>.
</p> -->

<h2>Prizes for 2018</h2>
<p>
  <strong>sponsored by Wikimedia Austria</strong>
  <br>
  <strong>1st prize:</strong>
  600 € voucher for photography equipment <strong>or</strong> a trip to
  <a href="https://meta.wikimedia.org/wiki/Wikimania_2019" target="_blank" rel="noopener noreferrer">Wikimania 2019</a>
  in Sweden
  <br>
  <strong>2nd prize:</strong>
  150 € voucher for photography equipment 
  <br>
  <strong>3rd prize:</strong>
  75 € voucher for photography equipment
  <br>
  <strong>4th through 10th prize:</strong>
  50 € voucher for photography equipment
  <br><br>
  <strong>Special prizes</strong>
  <br>
  <strong>1st prize:</strong>
  50 € voucher for photography equipment for the following topics:
  <ul>
  <li>Monuments (in cooperation with the Federal Monuments Office</li>
  <li>Nature (protected areas of Austria like national parks, natural monuments, etc.)</li>
  <li>Common infrastructure (infrastructure listed on WikiDaheim like cemeteries, museums, schools, etc.)</li>
  <li>Public art (not only the art listed on WikiDaheim, but all art found in public spaces)</li>
  <li>Cellar streets</li>
</ul>
</p>

<h2>Rules</h2>
<ul>
  <li>The picture has to have been taken in Austria.</li>
  <li>The pictures must be uploaded during the contest period stated above.</li>
  <li>The picture can either be taken during the contest or prior to the contest.</li>
  <li>Documenting the important aspects is more important than artistic aspects.</li>
  <li>
    Pictures have to be uploaded with a 
    <a href="https://commons.wikimedia.org/wiki/Commons:Copyright_tags#Free_Creative_Commons_licenses" target="_blank" rel="noopener noreferrer">free Creative Commons license</a>
    on
    <a href="https://commons.wikimedia.org/wiki/Hauptseite" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a>.
  </li>
  <li>Describing and adding categories to your picture would be very helpful for everyone looking for your picture afterwards.</li>
  <li>You will also have to be able to receive emails, which you can set in your preferences via the option "Allow other users to email me". Otherwise it won't be possible to contact you when you have won a prize!</li>
</ul>

<h2>Is there something I should keep in mind when uploading my pictures?</h2>
<p>
  Pictures should adhere to the 
  <a href="https://commons.wikimedia.org/wiki/Commons:Policies_and_guidelines/en" target="_blank" rel="noopener noreferrer">policies and guidelines</a>
  of Wikimedia Commons. Large changes or manipulations of your picture, including visible 
  <a href="https://commons.wikimedia.org/wiki/Commons:Watermarks" target="_blank" rel="noopener noreferrer">watermarks</a>
  should not be added. The picture should also have a minimum resolution of 2 megapixels. The 
  <a href="https://commons.wikimedia.org/wiki/Commons:Image_guidelines" target="_blank" rel="noopener noreferrer">image guidelines</a>
  can help you determine what your best options are when uploading your picture.
</p>

<h2>Jury</h2>
<p>A prejury selected the images and the best 500 pictures were submitted to the actual jury, which picked the winning pictures in late November.</p>

<h2>Winners 2018</h2>
<h3>Overall category</h3>
<p><strong>1st</strong></p>
<p>
<a title="Duke of W4 [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Lindenallee_bei_Buchbach_2017-10.jpg"><img width="512" alt="Lindenallee bei Buchbach 2017-10" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Lindenallee_bei_Buchbach_2017-10.jpg/512px-Lindenallee_bei_Buchbach_2017-10.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Duke_of_W4">Duke of W4</a>, <a href="https://commons.wikimedia.org/wiki/File:Lindenallee_bei_Buchbach_2017-10.jpg">Lindenallee bei Buchbach 2017-10</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a> 
</p>

<p><strong>2nd</strong></p>
<p>
<a title="Herzi Pinki [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:UNIQA_Tower_03.jpg"><img width="256" alt="UNIQA Tower 03" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/UNIQA_Tower_03.jpg/256px-UNIQA_Tower_03.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Herzi_Pinki">Herzi Pinki</a>, <a href="https://commons.wikimedia.org/wiki/File:UNIQA_Tower_03.jpg">UNIQA Tower 03</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>3rd</strong></p>
<p>
<a title="Henry Kellner [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Burgruine_Staatz_4582_Panini_3.jpg"><img width="512" alt="Burgruine Staatz 4582 Panini 3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Burgruine_Staatz_4582_Panini_3.jpg/512px-Burgruine_Staatz_4582_Panini_3.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Hamster28">Henry Kellner</a>, <a href="https://commons.wikimedia.org/wiki/File:Burgruine_Staatz_4582_Panini_3.jpg">Burgruine Staatz 4582 Panini 3</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>4th</strong></p>
<p>
<a title="Canonsepp [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Die_Taugl.jpg"><img width="512" alt="Die Taugl" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Die_Taugl.jpg/512px-Die_Taugl.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Canonsepp">Canonsepp</a>, <a href="https://commons.wikimedia.org/wiki/File:Die_Taugl.jpg">Die Taugl</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>5th</strong></p>
<p>
<a title="Viennaphotographer [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Wien_Energie.jpg"><img width="512" alt="Wien Energie" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Wien_Energie.jpg/512px-Wien_Energie.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Viennaphotographer">Viennaphotographer</a>, <a href="https://commons.wikimedia.org/wiki/File:Wien_Energie.jpg">Wien Energie</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>6th</strong></p>
<p>
<a title="Karl Svozil [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Panorama_from_Schober.jpg"><img width="512" alt="Panorama from Schober" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Panorama_from_Schober.jpg/512px-Panorama_from_Schober.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Karlsvozil">Karl Svozil</a>, <a href="https://commons.wikimedia.org/wiki/File:Panorama_from_Schober.jpg">Panorama from Schober</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>7th</strong></p>
<p>
<a title="Thomas Ledl [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Vorw%C3%A4rtshaus_Innenansicht_5.jpg"><img width="512" alt="Vorwärtshaus Innenansicht 5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Vorw%C3%A4rtshaus_Innenansicht_5.jpg/512px-Vorw%C3%A4rtshaus_Innenansicht_5.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Thomas_Ledl">Thomas Ledl</a>, <a href="https://commons.wikimedia.org/wiki/File:Vorwärtshaus_Innenansicht_5.jpg">Vorwärtshaus Innenansicht 5</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>8th</strong></p>
<p>
<a title="Stefan Kasberger [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Felssturz_an_Hohes_Kreuz.jpg"><img width="256" alt="Felssturz an Hohes Kreuz" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Felssturz_an_Hohes_Kreuz.jpg/256px-Felssturz_an_Hohes_Kreuz.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Stefankasberger">Stefan Kasberger</a>, <a href="https://commons.wikimedia.org/wiki/File:Felssturz_an_Hohes_Kreuz.jpg">Felssturz an Hohes Kreuz</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>9th</strong></p>
<p>
<a title="Bwag [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Wien_-_russisch-orthodoxe_Kathedrale.JPG"><img width="256" alt="Wien - russisch-orthodoxe Kathedrale" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Wien_-_russisch-orthodoxe_Kathedrale.JPG/256px-Wien_-_russisch-orthodoxe_Kathedrale.JPG"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Bwag">Bwag</a>, <a href="https://commons.wikimedia.org/wiki/File:Wien_-_russisch-orthodoxe_Kathedrale.JPG">Wien - russisch-orthodoxe Kathedrale</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>10th</strong></p>
<p>
<a title="Günter Seggebäing, CC BY-SA 3.0 [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)]" href="https://commons.wikimedia.org/wiki/File:20180730_Wei%C3%9Fkugel,_%C3%96tztaler_Alpen_(06359).jpg"><img width="512" alt="20180730 Weißkugel, Ötztaler Alpen (06359)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/20180730_Wei%C3%9Fkugel%2C_%C3%96tztaler_Alpen_%2806359%29.jpg/512px-20180730_Wei%C3%9Fkugel%2C_%C3%96tztaler_Alpen_%2806359%29.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Watzmann">Günter Seggebäing</a>, <a href="https://commons.wikimedia.org/wiki/File:20180730_Weißkugel,_Ötztaler_Alpen_(06359).jpg">20180730 Weißkugel, Ötztaler Alpen (06359)</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="license">CC BY-SA 3.0</a>
</p>

<h3>Special categories</h3>
<p><strong>Nature</strong></p>
<p>
<a title="streunerich [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Stiel-Eiche_in_Viktring.jpg"><img width="256" alt="Stiel-Eiche in Viktring" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Stiel-Eiche_in_Viktring.jpg/256px-Stiel-Eiche_in_Viktring.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Streunerich">streunerich</a>, <a href="https://commons.wikimedia.org/wiki/File:Stiel-Eiche_in_Viktring.jpg">Stiel-Eiche in Viktring</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>Commons</strong></p>
<p>
<a title="Isiwal [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Engelhartszell_Jochenstein_Grenze_zu_Deutschland-5252.jpg"><img width="256" alt="Engelhartszell Jochenstein Grenze zu Deutschland-5252" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Engelhartszell_Jochenstein_Grenze_zu_Deutschland-5252.jpg/256px-Engelhartszell_Jochenstein_Grenze_zu_Deutschland-5252.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Isiwal">Isiwal</a>, <a href="https://commons.wikimedia.org/wiki/File:Engelhartszell_Jochenstein_Grenze_zu_Deutschland-5252.jpg">Engelhartszell Jochenstein Grenze zu Deutschland-5252</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>Public Art</strong></p>
<p>
<a title="Thomas Ledl [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Portal_of_Saint_Michael_Church,_Vienna.jpg"><img width="256" alt="Portal of Saint Michael Church, Vienna" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Portal_of_Saint_Michael_Church%2C_Vienna.jpg/256px-Portal_of_Saint_Michael_Church%2C_Vienna.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Thomas_Ledl">Thomas Ledl</a>, <a href="https://commons.wikimedia.org/wiki/File:Portal_of_Saint_Michael_Church,_Vienna.jpg">Portal of Saint Michael Church, Vienna</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>

<p><strong>Cellar streets</strong></p>
<p>
<a title="Manfred Kuzel [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], von Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Sitzendorf_Kellergasse_18_a.jpg"><img width="512" alt="Sitzendorf Kellergasse 18 a" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Sitzendorf_Kellergasse_18_a.jpg/512px-Sitzendorf_Kellergasse_18_a.jpg"></a>
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/User:Manfred_Kuzel">Manfred Kuzel</a>, <a href="https://commons.wikimedia.org/wiki/File:Sitzendorf_Kellergasse_18_a.jpg">Sitzendorf Kellergasse 18 a</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
</p>
