<h1>Photo contest WikiDaheim</h1>
<p>Present your home town with your pictures on Wikipedia!</p>
<p>Help Wikipedia illustrate villages and areas of Austria with your pictures and show unique features of those areas!</p>
<h2>Timeframe</h2>
<p>
  You can upload pictures to Wikimedia Commons from July 1st through October 7th, 24:00 CEST via the upload links on this website.
  <!-- (Alternative für erfahrene BenutzerInnen: direkt über Wikimedia Commons unter Verwendung der Vorlage {{WikiDaheim|2017|at|topic=}} hochladen.) -->
</p>

<h2>How to take part</h2>
<p>By taking pictures of landscapes, monuments, wide-angle views or small details, you can also be part of this contest!</p>
<p>In order to upload your pictures, you have to register a username on Wikimedia Commons, if you haven't done so yet. In terms of 
user names, you can either use your real name or a pseudonym. It is important that you also include an email address - that address
will not be published, but it will be necessary in order to reach you if you win a prize. None of your data will be published without
your express permission.</p>
<p>
  <strong>Important:</strong>
  <br>
  The ten best pictures of monuments will take part in the international contest <a href="http://www.wikilovesmonuments.org/" target="_blank" rel="noopener noreferrer">Wiki Loves Monuments</a>.
</p>

<h2>Prizes</h2>
<p>
  <strong>spoonsored by Wikimedia Austria</strong>
  <br>
  <strong>1st prize:</strong>
  600 € voucher for photography equipment <strong>or</strong> a trip to
  <a href="https://meta.wikimedia.org/wiki/Wikimania_2019" target="_blank" rel="noopener noreferrer">Wikimania 2019</a>
  in Sweden
  <br>
  <strong>2nd prize:</strong>
  150 € voucher for photography equipment 
  <br>
  <strong>3rd prize:</strong>
  75 € voucher for photography equipment
  <br>
  <strong>4th through 10th prize:</strong>
  50 € voucher for photography equipment
  <br><br>
  <strong>Special prizes</strong>
  <br>
  <strong>1st prize:</strong>
  50 € voucher for photography equipment for the following topics:
  <ul>
  <li>Monuments (in cooperation with the Federal Monuments Office</li>
  <li>Nature (protected areas of Austria like national parks, natural monuments, etc.)</li>
  <li>Common infrastructure (infrastructure listed on WikiDaheim like cemeteries, museums, schools, etc.)</li>
  <li>Public art (not only the art listed on WikiDaheim, but all art found in public spaces)</li>
  <li>Cellar streets</li>
</ul>
</p>

<h2>Rules</h2>
<ul>
  <li>The picture has to have been taken in Austria.</li>
  <li>The pictures must be uploaded during the contest period stated above.</li>
  <li>The picture can either be taken during the contest or prior to the contest.</li>
  <li>Documenting the important aspects is more important than artistic aspects.</li>
  <li>
    Pictures have to be uploaded with a 
    <a href="https://commons.wikimedia.org/wiki/Commons:Copyright_tags#Free_Creative_Commons_licenses" target="_blank" rel="noopener noreferrer">free Creative Commons license</a>
    on
    <a href="https://commons.wikimedia.org/wiki/Hauptseite" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a>.
  </li>
  <li>Describing and adding categories to your picture would be very helpful for everyone looking for your picture afterwards.</li>
  <li>You will also have to be able to receive emails, which you can set in your preferences via the option "Allow other users to email me". Otherwise it won't be possible to contact you when you have won a prize!</li>
</ul>

<h2>Is there something I should keep in mind when uploading my pictures?</h2>
<p>
  Pictures should adhere to the 
  <a href="https://commons.wikimedia.org/wiki/Commons:Policies_and_guidelines/en" target="_blank" rel="noopener noreferrer">policies and guidelines</a>
  of Wikimedia Commons. Large changes or manipulations of your picture, including visible 
  <a href="https://commons.wikimedia.org/wiki/Commons:Watermarks" target="_blank" rel="noopener noreferrer">watermarks</a>
  should not be added. The picture should also have a minimum resolution of 2 megapixels. The 
  <a href="https://commons.wikimedia.org/wiki/Commons:Image_guidelines" target="_blank" rel="noopener noreferrer">image guidelines</a>
  can help you determine what your best options are when uploading your picture.
</p>

<!--
<h2>Preise</h2>
<p>
  <strong>von Wikimedia Österreich</strong>
  <br>
  <strong>1. Preis:</strong>
  eine Reise zur
  <a href="https://wikimania2018.wikimedia.org/wiki/Wikimania" target="_blank" rel="noopener noreferrer">Wikimania 2018</a>
  nach Südafrika
  <br>
  <strong>2.–10. Preis:</strong>
  Gutscheine für Fotoequipment oder Fotoentwicklung
</p>
-->

<h2>Jury</h2>
<p>A prejury will preselect the images and the best 500 pictures will be submitted to the actual Jury, which will decide on the winners in early November.</p>
