<h2>Willkommen bei WikiDaheim!</h2>
<p>WikiDaheim ist ein Projekt von Freiwilligen der Wikimedia-Projekte wie Wikipedia, das sich mit dem Sammeln von Informationen
  über Gemeinden in ganz Österreich beschäftigt. Gerade in Österreich sind die Möglichkeiten, den Charakter eines Ortes mit
  Bildern oder Texten zu zeigen, noch kaum erschlossen worden.</p>

<h2>Wettbewerbszeitraum</h2>
<p>
  Von 1. Juli 2018 bis Mitternacht (24:00, MESZ) am 7. Oktober 2018 ist es möglich, Bilder auf dieser Website hochzuladen.
  <!-- (Alternative für erfahrene BenutzerInnen: direkt über Wikimedia Commons unter Verwendung der Vorlage {{WikiDaheim|2017|at|topic=}} hochladen.) -->
</p>

<h2>Mach mit!</h2>
<p>Auch du kannst teilnehmen, ob mit Landschaftspanorama, Einzeldenkmal, Weitwinkel oder Makroaufnahme!</p>
<p>Dazu musst du dich als BenutzerIn bei Wikimedia Commons, der zentralen Bilddatenbank für alle Wikimedia-Projekte, anmelden.
  Das kann mit dem richtigen Namen oder mit einem Nickname (Spitznamen) geschehen. Auch deine E-Mail-Adresse musst du bekanntgeben.
  Diese wird nicht veröffentlicht. Nur im Gewinnfall bekommst du ein E-Mail und kannst dann deinen Namen und Adresse der
  Wettbewerbsleitung bekanntgeben. Auch da ist eine Veröffentlichung deiner Daten ohne deine Zustimmung nicht vorgesehen.</p>
<p>Die Einreichung erfolgt über den Uploadbutton.</p>
