<h2>Welcome to WikiDaheim!</h2>
<p>WikiDaheim is a project for Wikimedia projects like Wikipedia that focusses on the villages and areas of Austria.
  There are still many aspects of life in Austria that are undocumented and need your help in documenting them by taking pictures or  
  writing articles.</p>

<h2>Competition</h2>
<p>
  The competition takes place between 1 July 2019 and 6 October 2019.
  The winning pictures can be viewed on <a href="https://www.wikidaheim.at/competition">the page dedicated to the competition</a>.
</p>
