<h2>Willkommen bei WikiDaheim!</h2>
<p>WikiDaheim ist ein Projekt von Freiwilligen der Wikimedia-Projekte wie Wikipedia, das sich mit dem Sammeln von Informationen
  über Gemeinden in ganz Österreich beschäftigt. Bei der Bebilderung und Beschreibung von Orten in Österreich bestehen teilweise 
  noch große Lücken. Um diese zu schließen, können über WikiDaheim daher das ganze Jahr über Fotos zu Österreich hochgeladen werden. Vorhandene 
  und (neue) fehlende Bilder werden laufend aktualisiert. Auch deine Lieblingsorte in Österreich sind sicher das ein oder andere Foto wert!</p>

<h2>Wettbewerbszeitraum</h2>
<p>
  Von 1. Juli 2019 bis Mitternacht (24:00, MESZ) am 6. Oktober 2019 konnten Bilder im Rahmen eines Fotowettbewerbs hochgeladen werden. 
  Die Ergebnisse des Wettbewerbs können auf <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Jury#Gewinnerfotos_2019">der dazugehörigen Wikipedia-Seite</a> eingesehen werden.
 <!-- (Alternative für erfahrene BenutzerInnen: direkt über Wikimedia Commons unter Verwendung der Vorlage {{WikiDaheim|2017|at|topic=}} hochladen.) -->
</p>
