<div class="TextPage-CategoryInfo"> 
  <aside>
    <img src="../../assets/img/icon_denkmalliste.svg" role="presentation" />
 </aside>
</div>
<p>Dieses Thema umfasst alle vom Bundesdenkmalamt als schützenswert ausgewiesenen Objekte in Österreich, zur Zeit sind dies etwa 38100. </p>

<h2>Worauf sollte ich achten?</h2>
<p>Interessant sind bei denkmalgeschützten Objekten vor allem der Zustand und die Besonderheiten des Objekts, daher sind auch neue Fotos von bereits fotografierten Objekten interessant.</p>
<p>Darüber hinaus solltest du beim Hochladen darauf achten, dass du bei Detailfotos eine aussagekräftige Beschreibung angibst sowie Kategorien verwendest, die das Foto möglichst genau zuordnen.</p>
<p>Eine Übersicht der bisher hochgeladenen Fotos kannst du auf <a href="https://commons.wikimedia.org/wiki/Category:Media_from_WikiDaheim_2018_in_Austria/Cultural_heritage_monuments">Wikimedia Commons</a> ansehen.</p>

<h2>Wiki Loves Monuments 2019</h2>
<p>Alle im Rahmen von WikiDaheim 2019 hochgeladenen Bilder zu denkmalgeschützten Objekten sind gleichzeitig auch Teil des internationalen 
 Fotowettbewerbs <a href="https://commons.wikimedia.org/wiki/Commons:Wiki_Loves_Monuments_2019">Wiki Loves Monuments 2019</a>.</p>
<p>Die Vorjury von WikiDaheim wird im Oktober die eingelangten Bilder bewerten, die zehn besten Bilder (bei Bilderserien zählt jeweils nur das beste Bild) werden für den internationalen Wettbewerb nominiert, 
wo sie gegen andere Bilder aus über 50 Ländern und Regionen antreten werden.</p>

<h2>Tag des Denkmals 2019</h2>
<p>Auch heuer findet der Tag des Denkmals des Bundesdenkmalamts statt. Zahlreiche Gebäude öffnen an einem Wochenende im September ihre Pforten und führen 
Interessierte durch ihre Räumlichkeiten. In Zusammenarbeit mit dem Bundesdenkmalamt findet auch hier eine Fotoaktion statt, nähere Informationen dazu 
findest du auf <a href="https://tagdesdenkmals.at/">www.tagdesdenkmals.at</a>.</p>
