<h1>Topics</h1>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_denkmalliste.svg" role="presentation" />
  </aside>
  <div>
    <h2>Monuments</h2>
    <p>
      This topic revolves around buildings and other structures that are protected by the Federal Monuments Office.
      Of special interest are the features that make the object worthy of protection by federal law.
      <a href="https://wikidaheim.at/monuments?hlang=en" target="_blank" rel="noopener noreferrer">[More ...]</a>
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_naturdenkmaeler.svg" role="presentation" />
  </aside>
  <div>
    <h2>Nature</h2>
    <p>
      This topic contains the parts of Nature that are protected by federal or provincial law, be it
      natural monuments (Naturdenkmäler), protected areas (geschützter Landschaftsteil), 
      nature reserves (Naturschutzgebiet) or national parks (Nationalpark).
      Especially the unique features of the protected areas are of interest and worthy of text or pictures.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_commons.svg" role="presentation" />
  </aside>
  <div>
    <h2>Common infrastructure</h2>
    <p>
      Every village or municpality has several buildings and structures that serve the common good.
      This includes fire brigades, town halls, cemeteries, museums, libraries and other public buildings.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_kellergasse.svg" role="presentation" />
  </aside>
  <div>
    <h2>Cellar streets</h2>
    <p>
      In the eastern part of Austria, especially in the wine regions, cellar streets are a common sight and are of
      essential value to wine culture in those parts of the country. Documenting the current state of these cellar streets
      is of the utmost importance because they are slowly falling into ruin due to the changes in wine production.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_public_art.svg" role="presentation" />
  </aside>
  <div>
    <h2>Public Art</h2>
    <p>
      Public Art exists in almost every village in Austria, but especially in the bigger cities.
      Documenting this public art also documents the areas approach to art, making these kind of pictures valuable.
    </p>
  </div>
</div>

<!--
<div class="TextPage-CategoryInfo" >
  <aside>
    <img src="../../assets/img/icon_friedhof.svg" role="presentation" />/>
  </aside>
  <div>
    <h2>Friedhöfe</h2>
    <p>
      Friedhöfe sind ein zentraler Ort für die Erinnerungskultur in Österreich.
      Vielleicht findet sich ja auch in deinem Ort ein Grabstein einer Person,
      die in Wikipedia einen Artikel hat!
    </p>
  </div>
</div>
-->
