<h1>Tema</h1>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_denkmalliste.svg" role="presentation" />
  </aside>
  <div>
    <h2>Monumenti</h2>
    <p>
      L’argomento comprende tutti gli oggetti ufficialmente protetti su iniziativa del Bundesdenkmalamt.
      Aspetti principali sono lo stato attuale dell’oggetto e le caratteristiche per le quali è stato protetto.
      <a href="https://wikidaheim.at/monuments?hlang=de" target="_blank" rel="noopener noreferrer">[Più ...]</a>
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_naturdenkmaeler.svg" role="presentation" />
  </aside>
  <div>
    <h2>Natura</h2>
    <p>
      Qui si parla della protezione del patrimonio ambientale in Austria, in particolare di monumenti naturali, paesaggi protetti, riserve naturali o parchi nazionali.
      Sono interessanti soprattutto caratteristiche singolari dell’ambiente.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_commons.svg" role="presentation" />
  </aside>
  <div>
    <h2>Popolo</h2>
    <p>
      Ogni comune dispone di beni comuni che sono fruibili da parte di tutti o beneficiano la comunità. 
      Si parla dei vigili del fuoco, del municipio o di tutta l’infrastruttura locale.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_kellergasse.svg" role="presentation" />
  </aside>
  <div>
    <h2>Kellergassen</h2>
    <p>
      Nella parte orientale dell’Austria una tipica particolarità di molti comuni sono le cosiddette Kellergassen, vicoli spesso scavati nella roccia che danno accesso alle cantine, molto importanti per la cultura del vino in Austria.
      Il progetto vuole incoraggiare a documentare le Kellergassen nel loro stato attuale.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../../assets/img/icon_public_art.svg" role="presentation" />
  </aside>
  <div>
    <h2>Public Art</h2>
    <p>
      In molti comuni l’arte pubblica è importante per l’identità locale, ma anche fonte di controversie.
      Documentare tutti gli aspetti di queste opere d’arte è particolarmente interessante per il progetto.
    </p>
  </div>
</div>

<!--
<div class="TextPage-CategoryInfo" >
  <aside>
    <img src="../../assets/img/icon_friedhof.svg" role="presentation" />/>
  </aside>
  <div>
    <h2>Friedhöfe</h2>
    <p>
      Friedhöfe sind ein zentraler Ort für die Erinnerungskultur in Österreich.
      Vielleicht findet sich ja auch in deinem Ort ein Grabstein einer Person,
      die in Wikipedia einen Artikel hat!
    </p>
  </div>
</div>
-->
