<h2>Über WikiDaheim!</h2>
<p>WikiDaheim ist ein Projekt Freiwilliger in Wikimedia-Projekten wie Wikipedia und dem Bildarchiv Wikimedia Commons, das sich mit dem Sammeln 
  von Informationen über Gemeinden in ganz Österreich beschäftigt. Während manche Orte schon umfassend beschrieben und gut bebildert sind fehlen 
  bei anderen noch Texte und Bilder.</p>

<h2>Wie kann ich beitragen?</h2>
<p>Indem du Informationen zu deiner Heimatgemeinde beiträgst, sei es als Text in der Wikipedia oder als Foto, hilfst du Wikipedia und ihren 
  Schwesterprojekten dabei, das Wissen dieser Welt zu sammeln und für alle frei verfügbar zu machen!</p>
<h3>Bilder hochladen</h3>
<p>Damit du ein Foto hochladen kannst musst du mit deinem <a href="https://de.wikipedia.org/wiki/Hilfe:Benutzerkonto_anlegen" target="blank">
  Wikipedia-Benutzerkonto</a> angemeldet sein.</p>
<p>Möchtest du ein Bild hochladen kannst du entweder in der Karte zu dem entsprechenden Objekt navigieren und mit Klick auf die Markierung die 
  Kurzbeschreibung öffnen oder in der Suche den Namen der Gemeinde eingeben, woraufhin eine Liste aller dort eingetragenen Objekte angezeigt wird.</p>
<p>Willkommen sind sowohl Fotos zu konkreten Motivvorschlägen aus der Karte als auch weitere Motive aus der jeweiligen Gemeinde. Direkt unter dem 
  Suchfeld mit dem Namen der gewählten Gemeinde findest du ein mit &uarr; markiertes Link „Foto hochladen“, über das du Bilder ohne konkreten Bezug zu 
  einem bestimmten Einzelobjekt bereitstellen kannst. Zeigt dein Bild eines der darunter aufgelisteten Objekte kannst du den &uarr; beim entsprechenden 
  Listeneintrag nutzen, um dein Bild direkt diesem Objekt zuzuordnen.</p>
<p>Mit Klick auf den Hochladen-Pfeil wirst du zu Wikimedia Commons, dem gemeinsamen Medienarchiv für Wikipedia in all ihren Sprachversionen weitergeleitet, 
  um in wenigen Schritten das Bild hochzuladen und eine kurze Beschreibung (was, wo und wann zeigt es) anzufügen. 
</p>

<h2>Was ist für Wikipedia &amp; Co. interessant?</h2>
<p>Interessant sind vor allem Informationen und Bilder, die noch unbekannte Seiten der Gemeinden Österreichs dokumentieren. Wenn dir also bei der Lektüre 
  deines Gemeindeartikels Lücken auffallen oder Bilder zu deiner Gemeinde fehlen ist das deine Chance, zur Wikipedia beizutragen!</p>
<p>Wenn du Inspiration suchst: Wir haben mehrere <a href="https://www.wikidaheim.at/topics">Themen-Bereiche</a> vorbereitet, wo Wikipedia & Co. deine Hilfe 
  gebrauchen könnten. 
  Sei es ein denkmalgeschütztes Objekt im Ort, ein Bild von der Feuerwehr oder die heimische Natur, alles ist auf die eine oder andere Art wissenswert!
</p>
<iframe width="640" height="360" src="https://www.youtube.com/embed/7_1oEYEEpIE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>Worauf solle ich achten?</h2>
<p><b>Lizenzierung</b>: Bitte lade nur Bilder hoch, an denen du selbst das Urheberrecht besitzt oder die aus einem anderen Grund unter eine 
  <a href="https://de.wikipedia.org/wiki/Freie_Lizenz" target="blank">Freie Lizenz</a> (bei Bildern aktuell meist die 
  <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" target="blank">CC by-sa 4.0</a>) gestellt werden können, wie es für Wikipedia bzw. das Medienarchiv 
  Wikimedia Commons erforderlich ist. Geschützte Werke Anderer dürfen nicht einfach verwendet werden.</p>

<p><b>Bildbeschreibungen</b>: Je besser die Bildbeschreibung ist, die du während des Hochladens eintragen kannst, desto nützlicher und informativer sind die Bilder.</p>

<p><b>Kategorien</b>: Bilder bei Wikimedia Commons sind Kategorien zugeordnet, z.B. die des 
  <a href="https://de.wikipedia.org/wiki/Goldenes_Dachl" target="_blank">Goldenen Dachls</a> in Innsbruck der 
  <a href="https://commons.wikimedia.org/wiki/Category:Goldenes_Dachl" target="_blank">Category:Goldenes Dachl</a>. Lädst du Bilder über die Listen auf wikidaheim.at 
  hoch werden sie automatisch solchen Kategorien zugeordnet.<br /> 
  Wenn du schon etwas Erfahrung mit Commons hast kannst du deine Bilder, etwa Detailaufnahmen, nach dem Hochladen auch noch genauer einordnen, z.B. Fotos der Reliefs in der 
   <a href="https://commons.wikimedia.org/wiki/Category:Parapet_reliefs_of_Goldenes_Dachl" target="_blank">Category:Parapet_reliefs_of_Goldenes_Dachl</a>.
</p>


<h2>Wie kann ich am Fotoewettbewerb teilnehmen?</h2>
<p>Der Fotowettbewerb findet von 1. Juli bis 2. Oktober 2022 statt. In diesem Zeitraum über die Website wikidaheim.at hochgeladene Bilder nehmen 
  automatisch daran teil.</p>
<p>Das Foto muss nicht im Wettbewerbszeitraum erstellt werden, es kann auch davor entstanden sein. Nähere Informationen zum Wettbewerb findest du 
  auch auf der <a href="https://www.wikidaheim.at/competition">Seite zum Wettbewerb</a> oder auf der dazugehörigen 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim" target="_blank">Wikipedia-Seite</a>.
</p>
