<h2>Welcome to WikiDaheim!</h2>
<p>WikiDaheim is a project for Wikimedia projects like Wikipedia that focusses on the villages and areas of Austria.
  There are still many aspects of life in Austria that are undocumented and need your help in documenting them by taking pictures or  
  writing articles.</p>

<h2>How can I contribute?</h2>
<p>By adding information on the area you live in, you are helping Wikipedia and its sister projects gathering the knowledge of the 
  world and making it available to everyone!</p>

<h2>How can I take part in the photo contest?</h2>
<p>Between July 1st and October 2nd 2022 it is possible to upload pictures via the button "Upload pictures" on a pin or 
  in general for a municipality and uploading your picture to Wikimedia Commons. You will need to create an account on Commons if you
  don't have one yet. Your picture doesn't necessarily have to be taken during this timeframe, old pictures are also valuable contributions!
  You can find more information on the photo contest on the <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Jury">Wikipedia page (German)</a>!</p>

<h2>What is of interest to Wikipedia and other Wikimedia projects?</h2>
<p>Wikipedia needs your help to add information and pictures on the less well known aspects of the villages and areas in Austria.
  In case you should notice missing information in the article of the municipality you live in, you can add it and help make it just
  a little bit better!</p>
<p>If you can't think of anything specific to contribute, WikiDaheim has prepared some suggestions, which range from writing an article
  about a local monument, taking a picture of the local fire brigade or taking pictures of nature reserves. Most of the things you see
  in your village will be of interest!</p>
