<h2>Über WikiDaheim</h2>
<p>WikiDaheim ist ein von <a href="https://de.wikipedia.org/wiki/Wikipedia:Wikimedia_%C3%96sterreich" target="_blank">Wikimedia Österreich</a> organisiertes und
  von Freiwilligen getragenes Projekt in den Wikimedia-Projekten wie Wikipedia, dem Bildarchiv Wikimedia Commons, Wikidata für strukturierte Daten
  sowie RegiowikiAT,
  das sich mit dem Sammeln und der Pflege von Informationen über Gemeinden in ganz Österreich beschäftigt.
  Viele Orte sind schon umfassend beschrieben und gut bebildert, bei anderen fehlen 
  noch Texte, Bilder, Video- oder Tonaufnahme und Daten.</p>

<h2>Wie kann ich beitragen?</h2>
<p>Indem du Informationen zu deiner Heimatgemeinde beiträgst, sei es als Text in der Wikipedia oder als Foto, Video- oder Tonaufnahme, hilfst du Wikipedia und ihren 
  Schwesterprojekten dabei, das Wissen dieser Welt zu sammeln und für alle frei verfügbar zu machen.</p>
<h3>Bilder (und andere Medien) hochladen</h3>
<p>Damit du ein Foto hochladen kannst musst du mit deinem <a href="https://de.wikipedia.org/wiki/Hilfe:Benutzerkonto_anlegen" target="_blank">
  Wikipedia-Benutzerkonto</a> angemeldet sein.</p>
<p>Möchtest du ein Bild hochladen, so kannst du entweder in der Karte zu dem entsprechenden Objekt navigieren, indem du zuerst die Gemeinde und dann das Objekt mit Klick auf die Markierung auswählst und damit die Kurzbeschreibung öffnest, oder indem du in der Suche den Namen der Gemeinde eingibst, woraufhin eine Liste aller dort eingetragenen Objekte angezeigt wird, und ein Objekt in der Liste auswählen.</p>
<p>Willkommen sind sowohl Fotos zu konkreten Motivvorschlägen aus der Karte als auch weitere Motive aus der jeweiligen Gemeinde
  (etwa Personen des öffentlichen Lebens, Brauchtum).
  Direkt unter dem 
  Suchfeld mit dem Namen der gewählten Gemeinde findest du ein mit &uarr; markierten Link „Foto hochladen“, über den du Bilder ohne konkreten Bezug zu 
  einem bestimmten Einzelobjekt bereitstellen kannst. Zeigt dein Bild eines der darunter aufgelisteten Objekte kannst du den &uarr; beim entsprechenden 
  Listeneintrag nutzen, um dein Bild direkt diesem Objekt zuzuordnen.</p>
<p>Mit Klick auf den Hochladen-Pfeil wirst du zu Wikimedia Commons, dem gemeinsamen Medienarchiv für Wikipedia in all ihren Sprachversionen, weitergeleitet, 
  um in wenigen Schritten das Bild hochzuladen und eine kurze Beschreibung (was, wo und wann) anzufügen. 
</p>

<h2>Was ist für Wikipedia &amp; Co. interessant?</h2>
<p>Interessant sind vor allem Informationen und Bilder, die die noch unbekannte Seiten der Gemeinden Österreichs dokumentieren. Wenn dir also bei der Lektüre 
  eines Gemeindeartikels Lücken auffallen oder Bilder zu einer Gemeinde fehlen, ist das deine Chance zur Wikipedia beizutragen.</p>
<p>Wenn du Inspiration suchst: Wir haben mehrere <a href="https://www.wikidaheim.at/topics">Themen-Bereiche</a> vorbereitet, wo Wikipedia & Co. deine Hilfe 
  gebrauchen könnten. 
  Sei es ein denkmalgeschütztes Objekt im Ort, ein Bild von der Feuerwehr oder die heimische Natur, alles ist auf die eine oder andere Art wissenswert und wert bebildert zu werden.
</p>
<iframe width="640" height="360" src="https://www.youtube.com/embed/7_1oEYEEpIE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>Worauf soll ich achten?</h2>
<p><b>Lizenzierung</b>: Bitte lade nur Bilder hoch, an denen du selbst das Urheberrecht besitzt oder die aus einem anderen Grund unter eine 
  <a href="https://de.wikipedia.org/wiki/Freie_Lizenz" target="_blank">Freie Lizenz</a> (bei Bildern aktuell meist die 
  <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" target="_blank">CC by-sa 4.0</a>) gestellt werden können, wie es für Wikipedia bzw. das Medienarchiv 
  Wikimedia Commons erforderlich ist. Geschützte Werke Anderer dürfen nicht einfach verwendet werden.</p>

<p><b>Bildbeschreibungen</b>: Je besser die Bildbeschreibung ist, die du während des Hochladens eintragen kannst, desto nützlicher und informativer sind die Bilder.</p>

<p><b>Kategorien</b>: Bilder bei Wikimedia Commons sind Kategorien zugeordnet, z.B. die des 
  <a href="https://de.wikipedia.org/wiki/Goldenes_Dachl" target="_blank">Goldenen Dachls</a> in Innsbruck der 
  <a href="https://commons.wikimedia.org/wiki/Category:Goldenes_Dachl" target="_blank">Category:Goldenes Dachl</a>. Lädst du Bilder über die Listen auf wikidaheim.at 
  hoch werden sie automatisch solchen Kategorien zugeordnet.<br /> 
  Wenn du schon etwas Erfahrung mit Commons hast kannst du deine Bilder, etwa Detailaufnahmen, nach dem Hochladen auch noch genauer einordnen, z.B. Fotos der Reliefs in der 
   <a href="https://commons.wikimedia.org/wiki/Category:Parapet_reliefs_of_Goldenes_Dachl" target="_blank">Category:Parapet_reliefs_of_Goldenes_Dachl</a>.
</p>

<h2>Wie kann ich am Fotowettbewerb teilnehmen?</h2>
<p>Der Fotowettbewerb findet von 1. Juli bis 6. Oktober 2024 24:00 MESZ statt. In diesem Zeitraum über die Website wikidaheim.at hochgeladene Bilder nehmen 
  automatisch daran teil. Für einzelne Sonderpreise gelten u.U. anderer Termine,
  insbesondere können am internationalen Wettbewerb Wiki Loves Monuments 2024 nur Bilder teilnehmen, die zwischen dem 7. September und dem 6. Oktober 2024 hochgeladen werden.</p>
<p>Das Foto muss nicht im Wettbewerbszeitraum erstellt werden, es kann auch davor entstanden sein. Nähere Informationen zum Wettbewerb findest du 
  auch auf der <a href="https://www.wikidaheim.at/competition">Seite zum Wettbewerb</a> oder auf der dazugehörigen 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim" target="_blank">Wikipedia-Seite</a>.
</p>
