<h2>Benvenuto su WikiDaheim!</h2>
<p>WikiDaheim è un progetto di volontari Wikimedia (es. wikipediani) con lo scopo di raccogliere informazioni sui comuni austriaci. Le tante possibilità di illustrare meglio il carattere di un luogo tramite immagini o testi sono  state finora poco sperimentate.</p>

<h2>Come posso contribuire?</h2>
<p>Contribuendo con testi e foto sul tuo comune di origine o di domicilio aiuti Wikipedia e i progetti connessi a raccogliere la conoscenza del mondo e a renderla liberamente accessibile a tutti!
</p>

<h2>Come posso partecipare al concorso fotografico?</h2>
<p>Puoi partecipare al concorso fotografico dal 1° luglio al 3 ottobre 2021, cliccando su “Carica foto” su un singolo oggetto o nel 
  comune selezionato. La foto può essere stata scattata già prima del periodo del concorso: infatti, foto storiche possono essere di 
  particolare interesse. Più informazioni sul concorso le puoi trovare <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Jury">sulla relativa pagina</a> di Wikipedia!</p>

<h2>Cos’è di interesse per Wikipedia & Co.?</h2>
<p>Particolarmente interessante sono informazioni ed immagini che mostrano lati rimasti finora nascosti dei comuni austriaci. Quindi, se noti delle lacune durante la lettura della voce sul “tuo” comune, questo è il tuo momento per completarle e contribuire a Wikipedia!
</p>
<p>Se invece non hai ancora delle idee concrete, qui sul sito abbiamo preparato degli argomenti che potrebbero necessitare del tuo aiuto. Un monumento del luogo, i vigili del fuoco o la natura locale: ogni contributo è apprezzato!
</p>
