<h1>Willkommen beim Fotowettbewerb 100 Jahre Burgenland!</h1>
<p>Ein doppelter runder Geburtstag: Das Burgenland wird 100 Jahre alt, die Online-Enzyklopädie Wikipedia feiert im selben Jahr 20 Jahre ihres Bestehens.
Deshalb gibt es 2021 Sonderpreise für Fotos, die das Burgenland dokumentieren. Alle beim Fotowettbewerb 100 Jahre Burgenland eingereichten Fotos qualifizieren
sich zugleich für eine Teilnahme am Gesamtwettbewerb von WikiDaheim 2021.</p>
<p><a href="/burgenland">Hier</a> geht es zur Karte mit nach Gemeinden sortierbarer Such- und Hochladefunktion.</p>
<p>Mehr Infos zur Teilnahme findest du <a href="https://www.wikidaheim.at/about">hier</a>.</p>
<h2>Wettbewerbszeitraum</h2>
<p>Von 1. Juli 2021 bis Mitternacht (24:00, MESZ) am 3. Oktober 2021 können Bilder im Rahmen des Fotowettbewerbs hochgeladen werden, die Ergebnisse werden Ende
2021 bekannt gegeben.</p>
<p>Gefördert durch das Land Burgenland.</p>
<div style="display: flex; margin-top: 3rem; flex-wrap: wrap; justify-content: center">
<img src="../assets/img/Logo_100_Jahre_Burgenland2021.png" width="300" alt="100 Jahre Burgenland" />
<img src="../assets/img/Logo_Kulturland_Burgenland2021.png" width="300" alt="Kulturland Burgenland" />
</div>
