<h1>Fotowettbewerb WikiDaheim</h1>
<p>Stell deine Heimat mit deinen Fotos in der Wikipedia vor!</p>
<p>Hilf mit, die Wikipedia-Seiten zu österreichischen Gemeinden zu bebildern und zeige so mit frei verfügbaren Bildern deren
  einzigartigen Charakter!</p>
<h2>Wettbewerbszeitraum</h2>
<p>
  Von 1. Juli bis 3. Oktober 2021 um 24:00 Uhr MESZ ist es möglich, Bilder zum Wettbewerb hochzuladen und einzureichen.
  
  Die Ergebnisse der Vorjahre können im Archiv betrachtet werden: 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2017" target="_blank">Preisträger 2017</a>, 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2018" target="_blank">Preisträger 2018</a>, 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2019" target="_blank">Preisträger 2019</a>.
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2020" target="_blank">Preisträger 2020</a>.
</p>

<h2>Preise für WikiDaheim 2021</h2>
<p>Bereitgestellt von <a href="https://www.wikimedia.at/">Wikimedia Österreich</a></p>
<ul>
  <li>1. Preis: 600-€-Gutschein für Fotoequipment oder Fotoentwicklung und ein Wikipedia-Goodie-Bag</li>
  <li>2. Preis: 150-€-Gutschein für Fotoequipment oder Fotoentwicklung und ein Wikipedia-Goodie-Bag</li>
  <li>3. Preis: 75-€-Gutschein für Fotoequipment oder Fotoentwicklung und ein Wikipedia-Goodie-Bag</li>
  <li>4. bis 6. Preis: 50 € Gutschein für Fotoequipment oder Fotoentwicklung und ein Wikipedia-Goodie-Bag</li>
  <li>7. bis 10. Preis: Je ein Wikipedia-Goodie-Bag
</ul>

<h3>Sonderpreise</h3>
<p>Alle im Wettbewerbszeitraum nominierten Fotos nehmen am WikiDaheim-Hauptwettbewerb teil. Daneben gibt es auch noch die Chance Sonderpreise zu gewinnen:</p>
<ul>
  <li><strong>Gemeingüter</strong><br />
    Alle auf WikiDaheim angegebenen Gemeingüter wie Gemeindeämter, Museen, Friedhöfe, etc.
    <li>1. Preis: Ein 50-€-Gutschein für Fotoequipment oder Fotoentwicklung und ein Wikipedia-Goodie-Bag</li>
  </li>
  <li><strong>Öffentliche Kunst</strong><br />
    Nicht nur Public Art, sondern jedwede Kunst im öffentlichen Raum.
    <li>1. Preis: Ein 50-€-Gutschein für Fotoequipment oder Fotoentwicklung und ein Wikipedia-Goodie-Bag</li>
  </li>
  <li><strong>Denkmale</strong><br />
    Beim Hochladen dieser Kategorie zugewiesene Bilder nehmen automatisch auch an der Auswahl für den internationalen Wettbewerb 
    <a href="https://www.wikidaheim.at/wlm">Wiki Loves Monuments</a> (WLM) teil.
    <li>1. Preis: Ein 50-€-Gutschein für Fotoequipment oder Fotoentwicklung, ein Wikipedia-Goodie-Bag und Nominierung im internationalen WLM-Wettbewerb</li>
    <li>2.-10. Platz: Wikipedia-Goodie-Bags und Nominierung im internationalen WLM-Wettbewerb</li>
  </li>
  <li><strong>Tag des Denkmals</strong><br />
    Für Fotografien von Objekten die am Tag des Denkmals des Bundesdenkmalamtes am 26. September präsentiert werden, welche das sind wird auf 
    <a href="https://tagdesdenkmals.at/">tagdesdenkmals.at</a> bekannt gegeben, gibt es eigene Sachpreise zu gewinnen. Der Einreichzeitraum ist hier von 1.&nbsp;September
    bis 3.&nbsp;Oktober, es dürfen aber auch schon früher gemachte Bilder dieser Objekte nominiert werden.
    <li>1.-3. Platz: Sachpreise des Bundesdenkmalamtes und jeweils ein Wikipedia-Goodie-Bag.</li>
  </li>
  <li><strong>Natur</strong><br />
    Naturaufnahmen, die von 1. Juli bis 31. Juli 2021 24 Uhr MESZ hochgeladen werden, nehmen auch am internationalen Wettbewerb
    <a href="https://de.wikipedia.org/wiki/Wikipedia:Wiki_Loves_Earth_2021/Österreich">Wiki Loves Earth</a> (WLE) teil. Hier werden zwei Kategorien unterscheiden: 
    „Landscape“ für Landschaften, Schutzgebiete und Naturdenkmale sowie „Close-Up“ für Pflanzen und Tiere.
    <li>1. Preis in der jeweiligen Kategorie: je ein 50-€-Gutschein für Fotoequipment oder Fotoentwicklung, ein Wikipedia-Goodie-Bag und Nominierung im 
      internationalen WLE-Wettbewerb</li>
    <li>2.-10. Platz „Landscape“ sowie 2.-5. Platz „Close-Up“: Wikipedia-Goodie-Bags und Nominierung im internationalen WLE-Wettbewerb</li>
  </li>
  <li><strong>Burgenland</strong><br />
    Für alle im Burgenland fotografierten Motive.
    <li>1. Preis: 500-€-Gutschein für Fotoequipment oder Fotoentwicklung und ein  Wikipedia-Goodie-Bag</li>
    <li>2. Preis: 200-€-Gutschein für Fotoequipment oder Fotoentwicklung und ein  WikiDaheim-Goodie-Bag</li>
    <li>3. Preis: 100-€-Gutschein für Fotoequipment oder Fotoentwicklung  und ein  WikiDaheim-Goodie-Bag</li>
    <li>Schulprojektpreis HTL Pinkafeld: Wikipedia-Goodie-Bag</li>
  </li>    
</ul>    

<h2>Regeln</h2>
<ul>
  <li>Das teilnehmende Bild muss in Österreich von der hochladenden Person fotografiert worden sein.</li>
  <li>Das Bild muss während des Wettbewerbszeitraums hochgeladen worden sein, das Aufnahmedatum ist egal.*</li>
  <li>Der dokumentarische Ansatz steht vor dem künstlerischen Aspekt.</li>
  <li>Drohnenfotos müssen auf Nachfrage auf ihre Legalität geprüft werden können.</li>
  <li>Der dokumentarische Ansatz steht vor dem künstlerischen Aspekt.</li>
  <li>Die Fotograf*innen müssen ihre Bilder selbst hochladen.</li>
  <li>Die Auflösung muss mindestens 2 Megapixel betragen.*</li>
  <li>
    Fotos müssen unter einer
    <a href="https://commons.wikimedia.org/wiki/Commons:Lizenzvorlagen#Freie_%E2%80%9ECreative-Commons-Lizenzen%E2%80%9C" target="_blank" rel="noopener noreferrer">freien Creative-Commons-Lizenz</a>
    auf
    <a href="https://commons.wikimedia.org/wiki/Hauptseite" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a>
    veröffentlicht werden.
  </li>
  <li>Eine aussagekräftige Beschreibung/<a href="https://commons.wikimedia.org/wiki/Commons:Categories/de" target="_blank" rel="noopener noreferrer">Kategorisierung</a> ist ausdrücklich erwünscht.</li>
  <li>In den <a href="https://commons.wikimedia.org/wiki/Special:Preferences#mw-prefsection-personal-email" target="_blank" rel="noopener noreferrer">Benutzereinstellungen 
    auf Wikimedia Commons</a> muss die Einstellung „E-Mail-Empfang von anderen Benutzern ermöglichen“ aktiviert sein sowie eine funktionstüchtige E-Mail-Adresse 
    angegeben werden. Sonst ist uns eine Kontaktaufnahme leider nicht möglich.*</li>
</ul>
<p><small>*Am Sonderpreis der HTL Pinkafeld nehmen auch bereits vor dem 1. Juli 2021 von den Schüler*innen im Rahmen des Projekts dieser HTL hochgeladene 
  Bilder teil. Nur für diesen Sonderpreis gilt auch nicht die Mindestgröße von 2 Megapixeln. Die E-Mail-Funktion ist für diese Schüler*innen 
  generell, also auch für die anderen Wettbewerbskategorien, nicht unbedingt erforderlich, hier kann die Kontaktaufnahme auch über die Lehrer*innen erfolgen.</small></p> 
<p>Bilder, die nicht den Regeln entsprechen, können von der Vorjury in die 
  <a href="hhttps://commons.wikimedia.org/wiki/Category:Media_from_WikiDaheim_2021_in_Austria_not_for_prejury" target="_blank" rel="noopener noreferrer">Commons-Category:Media from WikiDaheim 2021 in Austria not for prejury</a> 
  verschoben werden. Parallel dazu werden die Fotograf*innen auf ihrer Benutzerseite angesprochen, damit sie die Möglichkeit der Reparatur haben. </p>
<h2>Sollte ich etwas besonders beachten?</h2>
<p>
  Fotos sollten den
  <a href="https://commons.wikimedia.org/wiki/Commons:Policies_and_guidelines/de" target="_blank" rel="noopener noreferrer">Richtlinien und Empfehlungen</a>
  von Wikimedia Commons entsprechen. Insbesondere von Manipulationen und Bearbeitungen in der Form von Rahmen und sichtbaren
  <a href="https://commons.wikimedia.org/wiki/Commons:Watermarks" target="_blank" rel="noopener noreferrer">Wasserzeichen</a>
  sollte abgesehen werden. Die
  <a href="https://commons.wikimedia.org/wiki/Commons:Bild-Richtlinien" target="_blank" rel="noopener noreferrer">Leitlinie für Qualitätsbilder</a>
  ist eine gute Anlaufstelle für die Kriterien, die Fotos erfüllen sollten.
</p>
<p>Wenn Du mehrere Bilder von einem Objekt hochladen möchtest und nur die besten davon der Vorjury vorlegen willst, kannst Du die aussortierten Bilder mittels 
  Einfügen der <a href="https://commons.wikimedia.org/wiki/Category:Media_from_WikiDaheim_2021_in_Austria_not_for_prejury" target="_blank" rel="noopener noreferrer">Kategorie 
  Media from WikiDaheim 2021 in Austria not for prejury</a> ausschließen. Diese Vorgehensweise empfiehlt sich insbesondere etwa für Bildserien, die ein Objekt aus nur 
  minimal unterschiedlichen Perspektiven zeigen.</p>
<p>Wenn du Bilder über wikidaheim.at zum Wettbewerb hochlädst werden sie automatisch als Nominierungen markiert. Erfahrene Mitwirkende, die ihre Bilder gerne 
  direkt bei Commons statt über wikidaheim.at hochladen möchten, müssen ihre Fotos mit der Vorlage {{WikiDaheim|2021}} markieren, um den Teilnahmewunsch erkennbar 
  zu machen.</p> 

<h2>Jury</h2>
<p>Eine <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Jury#Jury" target="_blank" rel="noopener noreferrer">Vorjury</a> aus WikipedianerInnen sichtet 
  alle Einsendungen und übermittelt eine Auswahl von ca. 500 Fotos an die Jury, welche die Gewinner ermittelt.</p>
<p>Die WikiDaheim-Hauptjury 2021 besteht aus:</p>
<ul>
  <li><strong>Walter Hermann</strong> ist Initiator und Leiter des Projekts <a href="http://www.burgenland100.at/" target="_blank" rel="noopener noreferrer">100 Jahre Burgenland – Zeitsprünge</a>. </li>
  <li><strong>Gabriele Mathes</strong> ist Filmemacherin und Dramaturgin und war langjährige Leiterin der <a href="https://www.videoundfilmtage.at/2021/" target="_blank" rel="noopener noreferrer">Video & Filmtage</a>.</li>
  <li><strong>Johannes Maximilian</strong> ist seit über zwölf Jahren als <a href="https://commons.wikimedia.org/wiki/User:Johannes_Maximilian" target="_blank" rel="noopener noreferrer">Fotograf und Autor</a> in den Wikimedia-Projekten aktiv.</li>
  <li><strong>Udo Somma</strong> macht Medienprojekte im <a href="https://www.wienxtra.at/medienzentrum/team/" target="_blank" rel="noopener noreferrer">wienXtra-medienzentrum</a>.</li>
  <li><strong>Christine Steinleitner</strong> ist die oberösterreichische <a href="https://foto.naturfreunde.at/ueber-uns/fotoreferenten/" target="_blank" rel="noopener noreferrer">Landesfotoreferentin der Naturfreunde Österreich</a>.
</li>
</ul>
<p>Jury zu Wiki Loves Earth:</p>
<ul>
  <li><a href="https://de.wikipedia.org/wiki/Benutzer:DagdaMor" target="_blank" rel="noopener noreferrer"><strong>DagdaMor</strong></a></li>
  <li><a href="https://de.wikipedia.org/wiki/Benutzer:Geolina163" target="_blank" rel="noopener noreferrer"><strong>Geolina163</strong></a></li>
  <li><a href="https://de.wikipedia.org/wiki/Benutzerin:Granada" target="_blank" rel="noopener noreferrer"><strong>Granada</strong></a></li>
  <li><a href="https://de.wikipedia.org/wiki/Benutzer:Z thomas" target="_blank" rel="noopener noreferrer"><strong>Z thomas</strong></a></li>
</ul>
<p>Jury zu Wiki Loves Monuments und dem Tag des Denkmals:</p>
<ul>
  <li><strong>Andrea Böhm</strong> ist stellvertretende Leiterin der Stabstelle Öffentlichkeitsarbeit des <a href="https://bda.gv.at" target="_blank" rel="noopener noreferrer">Bundesdenkmalamtes</a>.</li>
  <li><strong>Stefan Gron</strong> ist Mitarbeiter in der Stabstelle Öffentlichkeitsarbeit des Bundesdenkmalamtes.</li>
  <li><strong>Udo Somma</strong> macht Medienprojekte im <a href="https://www.wienxtra.at/medienzentrum/team/" target="_blank" rel="noopener noreferrer">wienXtra-medienzentrum</a>.</li>
  <li><a href="https://de.wikipedia.org/wiki/Benutzer:Regiomontanus" target="_blank" rel="noopener noreferrer"><strong>Regiomontanus</strong></a>.</li>
  <li><a href="https://de.wikipedia.org/wiki/Benutzer:Ruben Demus" target="_blank" rel="noopener noreferrer"><strong>Ruben Demus</strong></a>.</li>
</ul>
