<h1>Concorso fotografico WikiDaheim</h1>
<p>Presenta il tuo territorio su Wikipedia attraverso le fotografie!</p>
<p>Aggiungi fotografie ed aiuta le voci sui comuni austriaci su Wikipedia, facendo vedere il loro carattere unico attraverso immagini con licenza libera!
</p>

<h2>Quando si svolge?</h2>
<p>
  Carica le fotografie su questo sito tra il 1° giugno e il 6 ottobre 2019 a mezzanotte.
  <!-- (Alternative für erfahrene BenutzerInnen: direkt über Wikimedia Commons unter Verwendung der Vorlage {{WikiDaheim|2017|at|topic=}} hochladen.) -->
</p>

<h2>Partecipa!</h2>
<p>Anche tu puoi partecipare, con foto di monumenti, panoramiche di paesaggi, riprese con grandangolare o macrofotografie!</p>
<p>Come prima cosa ti devi registrare su Wikimedia Commons, l’archivio centrale di file multimediali dei progetti Wikimedia.
Per il nome utente puoi usare il tuo nome reale o un nickname. Devi inserire anche il tuo indirizzo email.
L’indirizzo non sarà pubblicato, ma serve per poterti contattare in caso di vincita.
Solo allora ti verrà chiesto nome e indirizzo da parte degli organizzatori del concorso, dati che ovviamente non saranno mai pubblicati senza il tuo consenso.
</p>
<p>Per presentare le proprie foto per il concorso, basta usare il pulsante upload.</p>
<p>
  <strong>Avviso:</strong>
  <br>
   le migliori dieci immagini di oggetti protetti parteciperanno automaticamente al concorso internazionale 
  <a href="http://www.wikilovesmonuments.org/" target="_blank" rel="noopener noreferrer">Wiki Loves Monuments</a>.
</p>

<h2>Premi</h2>
<p>
  <strong>da Wikimedia Austria</strong>
  <br>
  <strong>1° premio</strong>
  buono con un valore di 600€ da spendere per attrezzatura fotografica 
  <br>
  <strong>2° premio</strong>
  buono con un valore di 150€ da spendere per attrezzatura fotografica 
  <br>
  <strong>3° premio</strong>
  buono con un valore di 75€ da spendere per attrezzatura fotografica
  <br>
  <strong>4° al 6° premio</strong>
  buono con un valore di 50€ da spendere per attrezzatura fotografica e Wikipedia goodie bag
  <br>
  <strong>7° al 10° premio</strong>
  Una Wikipedia goodie bag  
  <br><br>
  <strong>Premi speciali</strong>
  <br>
  <strong>1. Preis:</strong>
  buono di 50 € per attrezzatura fotografica; argomenti selezionati:
  <ul>
  <li>natura (natura protetta in tutta l’Austria, ad esempio parchi naturali, monumenti naturali, ecc.)</li>
  <li>beni comuni (tutti i beni comuni indicati su WikiDaheim come musei, cimiteri ecc.)</li>
  <li>arte pubblica (Public Art e oltre)</li>
  <li>Kellergassen</li>
</ul>
</p>

<h2>Regolamento</h2>
<ul>
  <li>La foto deve essere scattata in Austria.</li>
  <li>La foto deve essere caricata durante il periodo di tempo sopraindicato.</li>
  <li>La foto può comunque essere stata scattata anche prima del concorso.</li>
  <li>Prevale l’aspetto documentale-informativo su aspetti artistici.</li>
  <li>
    Le foto devono essere pubblicate su 
    <a href="https://commons.wikimedia.org/wiki/Commons:Lizenzvorlagen#Freie_%E2%80%9ECreative-Commons-Lizenzen%E2%80%9C" target="_blank" rel="noopener noreferrer">Wikimedia Commons con licenza libera Creative Commons.</a>
  </li>
  <li>Le foto caricate dovrebbero, preferibilmente, essere anche categorizzate e descritte in modo comprensivo.</li>
  <li>Nelle preferenze utente di Wikimedia Commons la funzione “Consenti ad altri utenti di inviarmi email” deve essere attivata e l’indirizzo email indicato deve essere valido. Altrimenti non sarà possibile entrare in contatto in caso di vincita.</li>
</ul>

<h2>Ulteriori avvertimenti</h2>
<p>
  Le foto dovrebbero corrispondere alle   <a href="https://commons.wikimedia.org/wiki/Commons:Policies_and_guidelines/it" target="_blank" rel="noopener noreferrer">linee guida di Wikimedia Commons</a>. Manipolazioni ed elaborazioni con l’uso di cornici o 
  filigrane sono indesiderati. La risoluzione minima è di 2 Megapixel. Le <a href="https://commons.wikimedia.org/wiki/Commons:Bild-Richtlinien" target="_blank" rel="noopener noreferrer">linee guida per immagini di qualità</a> sono un buon punto 
  di riferimento.
</p>

<h2>Giuria</h2>
<p>Una giuria preliminare composta interamente da Wikipediani vaglia tutti i contributi, verifica il rispetto di tutte le regole e inoltra una selezione di circa 500 foto alla giuria finale, la quale individuerà i vincitori.</p>
