<h1>Photo contest WikiDaheim</h1>
<p>Present your home town with your pictures on Wikipedia</p>
<p>Help Wikipedia illustrate villages and areas of Austria with your pictures and show unique features of those areas! </p>
<h2>Timeframe</h2>
<p>
  You are able to upload pictures (and other media like video and audio) to Wikimedia Commons at any time via the upload links on this website.
  To take part in the next photo contest your media have to be uploaded from January 1<sup>st</sup> through October 5<sup>th</sup> 2025, 24:00 CEST.
  <!-- (Alternative für erfahrene BenutzerInnen: direkt über Wikimedia Commons unter Verwendung der Vorlage {{WikiDaheim|2024|at|topic=}} hochladen.) -->
  This is also the timeframe for all special prizes except for the
  <a href="https://commons.wikimedia.org/wiki/Commons:Wiki_Loves_Monuments_2024" target="_blank">international Wiki Loves Monuments photo competition</a>,
  where images will only be accepted if uploaded at or after September 6<sup>th</sup> 2025.
</p>
<p>
  Winner images of previous years: 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2017" target="_blank">winners 2017</a>, 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2018" target="_blank">winners 2018</a>, 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2019" target="_blank">winners 2019</a>,
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2020" target="_blank">winners 2020</a>,
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2021" target="_blank">winners 2021</a>,
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2022" target="_blank">winners 2022</a>,
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2023" target="_blank">winners 2023</a>,
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2024" target="_blank">winners 2024</a>,
  <a href="https://www.wikilovesmonuments.org/2022_winners/" target="_blank">winners Wiki Loves Monuments International 2022</a>,
  <a href="https://www.wikilovesmonuments.org/galleries/2023-winners/" target="_blank">winners Wiki Loves Monuments International 2023</a>.
</p>

<!--
<h2>How to take part</h2>
<p>By taking pictures of landscapes, monuments, wide-angle views or small details, you can also be part of this contest. Video and audio contributions are welcome.</p>
<p>In order to upload your media, you have to register a username on Wikimedia Commons, if you haven't done so yet. In terms of 
user names, you can either use your real name or a pseudonym. It is important that you also include an email address - that address
will not be published, but it will be necessary in order to reach you if you win a prize or something is unclear with your media.
None of your data will be published without your express permission.</p>
<p> 
  <strong>Important:</strong>
  <br>
  The ten best pictures of monuments will take part in the international contest <a href="https://www.wikilovesmonuments.org/" target="_blank" rel="noopener noreferrer">Wiki Loves Monuments</a>.
</p> -->

<h2>Prizes for WikiDaheim 2024</h2>
<p>sponsored by Wikimedia Austria</p>
<ul>
  <li>1<sup>st</sup> prize: 600 € voucher for photography equipment or development + WikiDaheim goodie bag & a special coin</li>
  <li>2<sup>nd</sup> prize: 150 € voucher for photography equipment or development + WikiDaheim goodie bag & a special coin</li>
  <li>3<sup>rd</sup> prize: 75 € voucher for photography equipment or development + WikiDaheim goodie bag & a special coin</li>
  <li>4<sup>th</sup> through 5<sup>th</sup> prize: 50 € voucher for photography equipment or development + WikiDaheim goodie bag & a special coin</li>
  <li>6<sup>th</sup> through 15<sup>th</sup> prize: WikiDaheim goodie bag & a special coin</li>
</ul>
  
<h3>Special prizes</h3>
<p>All images uploaded during the contest timeframe and nominated for the contest take part in the main category.
  Beyond that there is a chance to win additional special prizes:</p>
<ul>
  <li><strong>Monuments</strong><br />
    This category comprises listed protected heritage monuments as well as formerly listed.
    <ul>
    <li>1<sup>st</sup> prize: 50 € voucher for photography equipment or development + WikiDaheim goodie bag & a special coin; nomination for the international WLM contest</li>
    <li>2<sup>nd</sup> through 3<sup>rd</sup> prize: a special coin; nomination for the international WLM contest</li>
    <li>4<sup>th</sup> through 10<sup>th</sup> prize: nomination for the international WLM contest</li>
    </ul>
    The best ten images showing cultural heritage monuments (and uploaded at or after September 7<sup>th</sup>!) are automatically passed on to the international contest
    <a href="https://www.wikidaheim.at/wlm">Wiki Loves Monuments</a> (WLM).
    For the international awards see <a href="https://www.wikilovesmonuments.org/awards/" target="_blank">Awards</a>.
  </li>
  
  <li><strong>Intangible Cultural Heritage</strong><br />
    You will find the participating objects for the special prize <i>Intangible Cultural Heritage</i> in 
    <a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a> (German only).
    Special prize together with the <a href="https://www.unesco.at/en/culture/intangible-cultural-heritage/national-inventory" target="_blank">Austrian UNESCO Commission</a>.
    <ul>
    <li>1<sup>st</sup> prize: Prize by Austrian UNESCO Commission, 50 € voucher for photography equipment or development, a special coin</li>
    <li>2<sup>nd</sup> through 3<sup>rd</sup> prize: Prize by Austrian UNESCO Commission, a special coin</li>
    </ul>
  </li>
  
  <li><strong>Tag des Denkmals</strong><br />
    Pictures of objects presented by the Austrian Bundesdenkmalamt on Tag des Denkmals (September 29<sup>th</sup>, 2024) may win these special prizes.
    A list of these objects will be presented on <a href="https://tagdesdenkmals.at/" target="_blank">tagdesdenkmals.at</a>.
    You can upload related pictures during the overall timeframe. Images can be taken already in advance.
    <ul>
    <li>1<sup>st</sup> through 3<sup>rd</sup> prize: a prize given by Bundesdenkmalamt + a special coin</li>
    </ul>
  </li>

<!--  <li><strong>Cemeteries</strong><br />
    On the occasion of 150 years <a href="https://en.wikipedia.org/wiki/Vienna_Central_Cemetery" target="_blank">Vienna Central Cemetery</a>
    (visit also <a href="https://www.friedhoefewien.at/150-jahre-wiener-zentralfriedhof" target="_blank">Friedhöfe Wien</a>) we are collecting images about all cemeteries in Austria,
    graves, graves of honor, buildings on cemeteries, also ceremonies etc.
    Find more at <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Friedh%C3%B6fe" target="_blank">Wikipedia:WikiDaheim/Friedhöfe</a> (German only).
  <ul>
    <li>1<sup>st</sup> prize: 50 € voucher for photography equipment or development, a special coin</li>
    <li>2<sup>nd</sup> through 3<sup>rd</sup> prize: a special coin</li>
  </ul>
 </li>
-->
  <li><strong>Nature</strong><br />
    Pictures of nature will be nominated in two categories, "landscape" for landscapes, protected areas and natural monuments and "close-up" for plants and animals.
    See the <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Natur" target="_blank">overview of participating objects</a>.
    <ul>
    <li>1<sup>st</sup> prize in both categories: 50 € voucher for photography equipment or development + a special coin</li>
    <li>2<sup>nd</sup> through 3<sup>rd</sup> prize in both categories: a special coin</li>
    </ul>
  </li>  
  <li><strong>best video</strong><br />
    Videos about aspects of Austria will be rewarded with a special prize. This prize is initiated by the inclusion of the
    <a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Intangible Cultural Heritage of Austria</a> to WikiDaheim. 
    <ul>
    <li>1<sup>st</sup> prize: 50 € voucher for technical equipment + a special coin</li>
    </ul>
  </li>  
  <li><strong>best audiofile</strong><br />
    Audio files about aspects of Austria will be rewarded with a special prize. This prize is initiated by the inclusion of the
    <a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Intangible Cultural Heritage of Austria</a> to WikiDaheim. 
    <ul>
    <li>1<sup>st</sup> prize: 50 € voucher for technical equipment + a special coin</li>
    </ul>
  </li>
  
<li><strong>Fill the gaps!</strong><br />
  In addition to great photos, we also want to promote filling the gaps in the monument lists with a prize.
  This is about taking the difficult photos (e.g. difficult to get to the place).
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/L%C3%BCcken" target="_blank">More Information</a> (German only).
  <ul>
    <li>1<sup>st</sup> prize: 50 € voucher for photography equipment or development, a special coin</li>
    <li>2<sup>nd</sup> through 3<sup>rd</sup> prize: a special coin</li>
  </ul>

<li><strong>Special prize #WPWPAT</strong><br />
  As part of the international contest <a href="https://meta.wikimedia.org/wiki/Wikipedia_Pages_Wanting_Photos_2024">Wikipedia Pages Wanting Photos 2024</a> the goal of this special prize
  is to find unillustrated articles and list entries in the German speaking Wikipedia (where no image is assigned) and illustrate those with your own, but also with already existing
  images found on Commons.
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/WPWPAT" target="_blank">More Information</a> (German only).
<ul>
    <li>1<sup>st</sup> prize: 50 € voucher for photography equipment or development, a special coin</li>
    <li>2<sup>nd</sup> through 3<sup>rd</sup> prize: a special coin</li>
  </ul>

</ul>    

<h2>Rules</h2>
<h3>General</h3>
<ul>
  <li>You can only upload media to Wikimedia Commons, if you have a user account
   (<a href="https://en.wikipedia.org/wiki/Special:CreateAccount" target="_blank">create one, if you don't have one</a>) and if you're logged in with your user account.</li>
  <li>You will also have to be able to receive emails, which you can set in your preferences via the option "Allow other users to email me" 
  <a href="https://commons.wikimedia.org/wiki/Special:Preferences#mw-prefsection-personal-email" target="_blank" rel="noopener noreferrer">on Wikimedia Commons</a>). 
  Otherwise it won't be possible to contact you when you have won a prize.</li>

  <li>The picture / video / audio has to have been taken in Austria and by the uploading person.</li>
  <li>The pictures / videos / audios must be uploaded during the contest period stated above.</li>
  <li>Media can either be taken during the contest or prior to the contest.</li>
  <li>For pictures of works of art that are only temporarily in the public space and for pictures of interiors the general rules of Commons apply
    (<a href="https://commons.wikimedia.org/wiki/Commons:Copyright_rules_by_territory/Austria#Freedom_of_panorama" target="_blank" rel="noopener noreferrer">Copyright rules by territory/Austria</a>).</li>
  <li>For media depicting people keep in mind their personality rights
    (<a href="https://commons.wikimedia.org/wiki/Commons:Photographs_of_identifiable_people" target="_blank" rel="noopener noreferrer">Photographs of identifiable people</a>).</li>
  <li>Media that were created with technical support, for example a drone, need to be proven to have been taken legally.</li>
  <li>Documenting the important aspects is more important than artistic aspects.</li>
  <li>
    Media have to be uploaded with a 
    <a href="https://commons.wikimedia.org/wiki/Commons:Copyright_tags#Free_Creative_Commons_licenses" target="_blank" rel="noopener noreferrer">free Creative Commons license</a>
    on
    <a href="https://commons.wikimedia.org/wiki/Hauptseite" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a>.
  </li>
  <li>Describing and adding categories to your media would be very helpful for everyone looking for your media afterwards.
    Description and categories that are proposed during the upload process can be improved.
    Location info (coordinates) of the object and / or of the camera location are exremly supportive.
  </li>
  <li>There is no limitation to storage, and thus no need to downgrade media in size or quality. Preferred is the best quality available.</li>
</ul>

<h3>Photos</h3>
<ul>
  <li>The resolution must be at least 2 Megapixel.</li>
  <li>Sets of images, that show objects with only minimal differences in perspective, are not that valuable for Wikipedia compared to different views of an object.
   It is recommended that you make select the best in a set before uploading.
</ul> 

<h3>Videos</h3>
<ul>
  <li>Only free video formats are supported for upload. Supported video formats are (with file suffix): Ogg (.ogv), WebM (.webm), MPEG-1/MPEG-2 (.mpg, .mpeg).
    Non-free formats have to be converted to free formats before uploading.
    See details at <a href="https://commons.wikimedia.org/wiki/Commons:File_types#Video" target="_blank" rel="noopener noreferrer">Commons:File types</a>.
  </li>
</ul>

<h3>Audio files</h3>
<ul>
  <li>Only free audio formats are supported for upload. Supported audio formats are (with file suffix): Ogg (.ogv), WebM (.webm), MPEG-1/MPEG-2 (.mpg, .mpeg).
    Non-free formats have to be converted to free formats before uploading.
    For mp3 files you need special privileges, which will not be granted in context of the contest.
    See details at <a href="https://commons.wikimedia.org/wiki/Commons:File_types#Sound" target="_blank" rel="noopener noreferrer">Commons:File types</a>.
  </li>
  <li>Wir recommend a sampling rate of 44.1 kHz and a resolution of 16 bit or higher.
  </li>

</ul>

<p>Media, that do not satisfy the requirements can be marked with
  <a href="https://commons.wikimedia.org/wiki/Category:Media_from_WikiDaheim_2025_in_Austria_questioned_by_prejury" target="_blank" rel="noopener noreferrer">Commons-Category:Media from WikiDaheim 2025 in Austria questioned by prejury</a> 
  by the prejury and thus will be temporarily excluded from the contest.
  In parallel authors / uploaders will be contacted on their user talk page and will get the opportunity to fix the mentioned problems.</p>

<h2>Is there something I should keep in mind when uploading my pictures?</h2>
<p>
  Pictures should adhere to the 
  <a href="https://commons.wikimedia.org/wiki/Commons:Policies_and_guidelines/en" target="_blank" rel="noopener noreferrer">policies and guidelines</a>
  of Wikimedia Commons. Large changes or manipulations of your picture, including visible 
  <a href="https://commons.wikimedia.org/wiki/Commons:Watermarks" target="_blank" rel="noopener noreferrer">watermarks</a>
  should not be added. The picture should also have a minimum resolution of 2 megapixels. The 
  <a href="https://commons.wikimedia.org/wiki/Commons:Image_guidelines" target="_blank" rel="noopener noreferrer">image guidelines</a>
  can help you determine what your best options are when uploading your picture.
</p>
<p>
  For Wikipedia and its sister projects the most valuable photos are those, which show still undocumented objects or
  which show a greatly changed condition or a completely new aspect of an object (help filling the gaps). However, in the contest the photos are rated only
  after their photographical quality.</p>
<p>
  You can upload media during the competition and exclude them from taking part in the contest by adding category
  <a href="https://commons.wikimedia.org/wiki/Category:Media_from_WikiDaheim_2025_in_Austria_not_for_prejury" target="_blank" rel="noopener noreferrer"> 
  Media from WikiDaheim 2025 in Austria not for prejury</a>. To do so is recommended e.g. for pictures with much more documentary value than photographical beauty
  (e.g. signs explaining an object), or pictures you do not want to put to the jury process.</p>
<p>
  Uploading pictures using wikidaheim.at or using the upload from the lists in Wikipedia will automatically nominate these pictures for the photo contest.
  However, if you as an experienced user prefer to upload pictures directly to Commons, or are using a different tool set, you have to mark these pictures
  with {{WikiDaheim|2024}} and the suitable topic to nominate for the contest. Also don't forget to add the correct ids for the object, if any.</p>

<h2>Jury</h2>
<p>A prejury will preselect the images and the best 500 pictures will be submitted to the actual jury, which will decide on the winners in early November.
   To allow a broad participation of many users, the number of images per user passed to the jury is limited to the 10 best images in the prejury result.</p>
