<h1>Fotowettbewerb WikiDaheim</h1>
<p>Stell deine Heimat mit deinen Fotos in der Wikipedia vor!</p>
<p>Hilf mit, die Wikipedia-Seiten zu österreichischen Gemeinden zu bebildern und zeige so mit frei verfügbaren Bildern deren
  einzigartigen Charakter!</p>
<h2>Wettbewerbszeitraum</h2>
<p>
  Von 1. Juli 2020 bis 4. Oktober 2020 um 24:00 Uhr MESZ war es möglich, Bilder zum Wettbewerb hochzuladen und einzureichen.
  
  Die Ergebnisse der Vorjahre können im Archiv betrachtet werden: 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2017" target="_blank">Preisträger 2017</a>, 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2018" target="_blank">Preisträger 2018</a>, 
  <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Archiv_2019" target="_blank">Preisträger 2019</a>.
</p>

<!--
<h2>Mach mit!</h2>
<p>Auch du ko teilnehmen, ob mit Landschaftspanorama, Einzeldenkmal, Weitwinkel oder Makroaufnahme!</p>
<p>Dazu musst du dich als BenutzerIn bei Wikimedia Commons, der zentralen Bilddatenbank für alle Wikimedia-Projekte, anmelden.
  Das kann mit dem richtigen Namen oder mit einem Nickname (Spitznamen) geschehen. Auch deine E-Mail-Adresse musst du bekanntgeben.
  Diese wird nicht veröffentlicht und nur benötigt, um dich im Gewinnfall via E-Mail benachrichtigen zu können. Du kannst dann deinen Namen und Adresse der
  Wettbewerbsleitung bekanntgeben. Auch da ist eine Veröffentlichung deiner Daten ohne deine Zustimmung nicht vorgesehen.</p>
<p>Die Einreichung erfolgt über den Uploadbutton.</p>
<p>
  <strong>Information:</strong>
  <br>
  Die zehn besten Bilder von denkmalgeschützten Objekten nehmen automatisch am internationalen Wettbewerb
  <a href="https://www.wikilovesmonuments.org/" target="_blank" rel="noopener noreferrer">Wiki Loves Monuments</a> teil.
</p> -->

<h2>Preise für 2020</h2>
<p>
  <strong>von Wikimedia Österreich</strong>
  <br>
  <strong>1. Preis:</strong>
  600 € Gutschein für Fotoequipment oder Fotoentwicklung
  <br>
  <strong>2. Preis:</strong>
  150 € Gutschein für Fotoequipment oder Fotoentwicklung
  <br>
  <strong>3. Preis:</strong>
  75 € Gutschein für Fotoequipment oder Fotoentwicklung
  <br>
  <strong>4. bis 6. Preis:</strong>
  50 € Gutschein für Fotoequipment oder Fotoentwicklung und ein Wikipedia Goodie-Bag
  <br>
  <strong>7. bis 10. Preis:</strong>
  Ein Wikipedia Goodie-Bag
  <br>
  <br>
  <strong>Sonderpreise für die Themen</strong>
  <br>
  <strong>1. Preis:</strong>
  Je 1 Wikipedia Goodie-Bag für folgende Themenbereiche:
  <ul>
    <li><b>Natur</b>: Geschützte Natur in Österreich wie Nationalparks, Naturdenkmäler, Naturschutzgebiete, etc.</li>
    <li><b>Gemeingüter</b>: Alle auf WikiDaheim angegebenen Gemeingüter wie Gemeindeämter, Museen, Friedhöfe, etc.</li>
    <li><b>Öffentliche Kunst</b>: Nicht nur <i>Public Art</i>, sondern jedwede Kunst im öffentlichen Raum.</li>
    <li><b>Kellergassen</b>: Innen- und Außenaufnahmen sowie Bilder, die die Einbettung in der Umgebung zeigen.</li>
  </ul>
  <br>
  Für <strong><a href="https://commons.wikimedia.org/wiki/Commons:Wiki_Loves_Monuments_2020" target="_blank">Wiki Loves Monuments</a></strong> international werden eigene Preise zur 
      Verfügung gestellt, <a href="wlm_de.html">mehr dazu hier</a>.
</p>

<h2>Regeln</h2>
<ul>
  <li>Das teilnehmende Bild muss in Österreich fotografiert worden sein.</li>
  <li>Das Bild muss während des Wettbewerbszeitraums hochgeladen worden sein.</li>
  <li>Das Bild kann vor und während des Wettbewerbszeitraums aufgenommen worden sein.</li>
  <li>Der dokumentarische Ansatz steht vor dem künstlerischen Aspekt.</li>
  <li>
    Fotos müssen unter einer
    <a href="https://commons.wikimedia.org/wiki/Commons:Lizenzvorlagen#Freie_%E2%80%9ECreative-Commons-Lizenzen%E2%80%9C" target="_blank" rel="noopener noreferrer">freien Creative-Commons-Lizenz</a>
    auf
    <a href="https://commons.wikimedia.org/wiki/Hauptseite" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a>
    veröffentlicht werden.
  </li>
  <li>Eine aussagekräftige Beschreibung/Kategorisierung ist ausdrücklich erwünscht.</li>
  <li>In den Benutzereinstellungen auf Wikimedia Commons muss die Einstellung „E-Mail-Empfang von anderen Benutzern ermöglichen“ 
    (<a href="https://commons.wikimedia.org/wiki/Special:Preferences#mw-prefsection-personal-email" target="_blank" rel="noopener noreferrer">bei Wikimedia Commons</a>)
    aktiviert sein sowie eine funktionstüchtige E-Mail-Adresse angegeben werden. Sonst ist uns eine Kontaktaufnahme leider
    nicht möglich.</li>
</ul>

<h2>Sollte ich etwas besonders beachten?</h2>
<p>
  Fotos sollten den
  <a href="https://commons.wikimedia.org/wiki/Commons:Policies_and_guidelines/de" target="_blank" rel="noopener noreferrer">Richtlinien und Empfehlungen</a>
  von Wikimedia Commons entsprechen. Insbesondere von Manipulationen und Bearbeitungen in der Form von Rahmen und sichtbaren
  <a href="https://commons.wikimedia.org/wiki/Commons:Watermarks" target="_blank" rel="noopener noreferrer">Wasserzeichen</a>
  sollte abgesehen werden. Eine Auflösung von 2 Megapixel sollte nicht unterschritten werden. Die
  <a href="https://commons.wikimedia.org/wiki/Commons:Bild-Richtlinien" target="_blank" rel="noopener noreferrer">Leitlinie für Qualitätsbilder</a>
  ist eine gute Anlaufstelle für die Kriterien, die Fotos erfüllen sollten.
</p>

<h2>Jury</h2>
<p>Eine Vorjury aus WikipedianerInnen sichtet alle Einsendungen, überprüft die Einhaltung der Wettbewerbsregeln und übermittelt
  eine Auswahl von ca. 500 Fotos an die Jury, welche die Gewinner ermittelt.</p>
