<h1>Credits</h1>
<p>WikiDaheim is a project of the Austrian Wikimedia community, organized by Wikimedia Austria.</p>

<h2>Contact</h2>
<p>
  <a href="mailto:wikidaheim@wikimedia.at">wikidaheim@wikimedia.at</a>
</p>
<p>
  You can also write questions, suggestions or feeedback on the 
  <a href="https://de.wikipedia.org/w/index.php?title=Wikipedia_Diskussion:WikiDaheim&amp;action=edit&amp;section=new" target="_blank" rel="noopener noreferrer">project page on Wikipedia</a>.
</p>

<h2>Implementation</h2>
<p>
  <strong>Design</strong>
  <br>
  <a href="http://www.mooi-design.com/" target="_blank" rel="noopener noreferrer">MOOI Design</a>
</p>
<p>
  <strong>Frontend-Implementation</strong>
  <br>
  <a href="http://www.benereiter.com/" target="_blank" rel="noopener noreferrer">Benedikt Reiter</a>
  <br>
  <a href="https://github.com/reiterbene/WikiDaheim" target="_blank" rel="noopener noreferrer">Project on GitHub</a>
</p>
<p>
  <strong>Database and interface</strong>
  <br>
  <a href="http://demus.at/" target="_blank" rel="noopener noreferrer">Ruben Demus</a>
</p>

<h2>Sources</h2>
<p>The texts used for the topics and descriptions is licensed as „Creative Commons Attribution-ShareAlike 3.0 Unported“.
  The pictures shown are drawn from Wikimedia Commons under a free license as indicated on the each individual page on Commons.
</p>

<h2>Licensing</h2>
<p>Content and elements of this website are licensed as CC-BY-SA 3.0 and can be reused freely under that license, if not attributed otherwise.</p>
