<h1>Credits</h1>
<p>WikiDaheim è un progetto della comunità Wiki austriaca, con il sostegno di Wikimedia Austria.</p>

<h2>Contatti</h2>
<p>
  <a href="mailto:wikidaheim@wikimedia.at">wikidaheim@wikimedia.at</a>
</p>
<p>
  Domande, critiche e commenti possono essere espressi 
  <a href="https://de.wikipedia.org/w/index.php?title=Wikipedia_Diskussion:WikiDaheim&amp;action=edit&amp;section=new" target="_blank" rel="noopener noreferrer">sulla pagina del progetto su Wikipedia</a>.
</p>

<h2>Esecuzione</h2>
<p>
  <strong>Design</strong>
  <br>
  <a href="http://www.mooi-design.com/" target="_blank" rel="noopener noreferrer">MOOI Design</a>
</p>
<p>
  <strong>Sviluppo front end</strong>
  <br>
  <a href="http://www.benereiter.com/" target="_blank" rel="noopener noreferrer">Benedikt Reiter</a>
  <br>
  <a href="https://github.com/reiterbene/WikiDaheim" target="_blank" rel="noopener noreferrer">Codice sorgente su GitHub</a>
</p>
<p>
  <strong>Implementazione database e interfaccia</strong>
  <br>
  <a href="http://demus.at/" target="_blank" rel="noopener noreferrer">Ruben Demus</a>
</p>

<h2>Fonti</h2>
<p>I testi utilizzati nelle categorie tematiche sono tratti da Wikipedia sotto licenza “Creative Commons Attribution-ShareAlike 3.0 Unported”. 
   Le immagini sono pubblicate su Wikimedia Commons con una licenza libera, come indicato nella relativa pagina di descrizione.
  <br>
  Die verwendeten Karten für Gemeinde- und Verwaltungsgrenzen wurden vomLe mappe utilizzate per i confini comunali sono state messe a disposizione dal Bundesamt für Eich- und Vermessungswesen su <a href="https://www.data.gv.at/katalog/dataset/51bdc6dc-25ae-41de-b8f3-938f9056af62" target="_blank" rel="noopener noreferrer">data.gv.at</a>
  sotto licenza <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank" rel="noopener noreferrer">CC-BY-SA 2.0 AT</a>.
  Alcune mappe sono inoltre state adottate dal progetto <a href="https://github.com/ginseng666/GeoJSON-TopoJSON-Austria">GeoJSON-TopoJSON-Austria</a>.
</p>
<h2>Licenza</h2>
<p>Tutti i contenuti di WikiDaheim possono essere riutilizzati sotto licenza CC-BY-SA 3.0, salvo dove contrariamente indicato.</p>
