<h2>Welcome to WikiDaheim!</h2>
<p>WikiDaheim is a project for
  <a href="https://www.wikimedia.org/" target="_blank">Wikimedia</a> projects like
  <a href="https://de.wikipedia.org/" target="_blank">Wikipedia</a>, <a href="https://commons.wikimedia.org/" target="_blank">Wikimedia Commons</a> and
  <a href="https://www.wikidata.org/" target="_blank">Wikidata</a>, 
  as well as <a href="https://regiowiki.at/" target="_blank">RegiowikiAT</a>,
  that focuses on the villages and areas of Austria.
  There are still many aspects of life in Austria that are undocumented and need your help in documenting them by taking pictures or  
  writing articles.</p>

<h2>Competition</h2>
<p>
  The next competition takes place between July 1<sup>st</sup> and October 6<sup>th</sup>, 2024 (24:00 CEST). During this timespan you can upload your media to the competition.<!--, the results will be announced at the end of November.--> You can already take photos in advance, topics will be similar to those of the past years.
  The winning pictures of previous years can be viewed on <a href="https://www.wikidaheim.at/competition">the page dedicated to the competition</a>.
</p>
