<h2>Benvenuto su WikiDaheim!</h2>
<p>WikiDaheim è un progetto di volontari Wikimedia (es. wikipediani) con lo scopo di raccogliere informazioni sui comuni austriaci. Le tante possibilità di illustrare meglio il carattere di un luogo tramite immagini o testi sono  state finora poco sperimentate.
</p>

<h2>Quando si svolge?</h2>
<p>
 Carica le fotografie su questo sito tra il 1° giugno e il 4 ottobre 2020 a mezzanotte.
 <!-- (Alternative für erfahrene BenutzerInnen: direkt über Wikimedia Commons unter Verwendung der Vorlage {{WikiDaheim|2017|at|topic=}} hochladen.) -->
</p>
