<h2>Willkommen bei WikiDaheim!</h2>
<p>WikiDaheim ist ein Projekt von Freiwilligen der <a href="https://www.wikimedia.org/" target="_blank">Wikimedia</a>-Projekte wie 
  <a href="https://de.wikipedia.org/" target="_blank">Wikipedia</a> und <a href="https://commons.wikimedia.org/" target="_blank">Wikimedia Commons</a>, 
  das sich mit dem Sammeln von Informationen über Gemeinden in ganz Österreich beschäftigt.<br />
  Bei der Bebilderung und Beschreibung von Orten in Österreich bestehen teilweise 
  noch große Lücken. Um diese zu schließen, können über WikiDaheim das ganze Jahr über Fotos aus und zu Österreich hochgeladen werden. Auch deine
  Lieblingsorte in Österreich sind sicher das eine oder andere Foto wert!</p>
<h2>Wettbewerbszeitraum</h2>
<p>
  Von 1. Juli 2020 bis Mitternacht (24:00, MESZ) am 4. Oktober 2020 können Bilder im Rahmen eines Fotowettbewerbs hochgeladen werden. 
  Die Ergebnisse der Wettbewerbe früherer Jahre können auf <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Doku" target="_blank">der Wikipedia-Seite zu WikiDaheim</a>
  eingesehen werden.
</p>
