<h2>Willkommen bei WikiDaheim!</h2>
<p>WikiDaheim ist ein Projekt von Freiwilligen der <a href="https://www.wikimedia.org/" target="_blank">Wikimedia</a>-Projekte wie 
  <a href="https://de.wikipedia.org/" target="_blank">Wikipedia</a>, <a href="https://commons.wikimedia.org/" target="_blank">Wikimedia Commons</a> und <a href="https://www.wikidata.org//" target="_blank">Wikidata</a>, 
  das sich mit dem Sammeln von Informationen über Gemeinden in ganz Österreich beschäftigt.<br />
  Bei der Bebilderung und Beschreibung von Orten in Österreich bestehen  
  noch Lücken. Um diese zu schließen, können über WikiDaheim das ganze Jahr über Fotos aus und zu Österreich hochgeladen werden. Auch deine
  Lieblingsorte in Österreich sind sicher das eine oder andere Foto wert!</p>
<h2>Wettbewerbszeitraum</h2>
<p>
  Von voraussichtlich 1. Juli 2024 bis am 6. Oktober 2024, Mitternacht (24:00, MESZ), können wieder Medien im Rahmen eines Fotowettbewerbs hochgeladen werden.<!--, die Ergebnisse werden Ende November bekanntgegeben. --> Du kannst schon jetzt passende Fotos schießen, die Themenbereiche orientieren sich voraussichtlich an den Themen der Vorjahre.
  Die Ergebnisse der Wettbewerbe früherer Jahre können auf der <a href="https://de.wikipedia.org/wiki/Wikipedia:WikiDaheim/Doku" target="_blank">Wikipedia-Seite zu WikiDaheim</a>
  eingesehen werden.
</p>
