<div class="TextPage-CategoryInfo">
  <aside>
    <img src="/img/icon_denkmalliste.svg" role="presentation" />
  </aside>
</div>
<p>This topic covers all monuments protected by the Federal Monuments Office in Austria, currently encompassing almost
  40,000 buildings.</p>

<h2>What should I look out for?</h2>
<p>Of particular interest for protected buildings are the current condition and unique features, which also makes new
  pictures of already photographed buildings worthwile.</p>
<p>Additionally, when uploading pictures of details of a building it is very helpful to add a description that describes
  the detail shown in the picture as well. Categories can also be very useful in order to make it easier to find your
  pictures.</p>
<p>You can find an overview of pictures uploaded so far on
  <a href="https://commons.wikimedia.org/wiki/Category:Media_from_WikiDaheim_2019_in_Austria/Cultural_heritage_monuments"
    target="_blank">Wikimedia Commons</a>.
</p>

<!--
<h2>Wiki Loves Monuments 2019</h2>
<p>All pictures submitted for WikiDaheim 2019 and depicting protected heritage are also taking part in the international
 photography contest <a href="https://commons.wikimedia.org/wiki/Commons:Wiki_Loves_Monuments_2019" target="_blank">Wiki Loves Monuments 2019</a>.</p>
<p>The pre-jury of WikiDaheim will judge the pictures submitted for WikiDaheim in October and the ten best pictures (collections of the same object will only have their best picture picked) will be nominated for the international contest,
competing with pictures from over 50 other countries.</p>

<h2>Tag des Denkmals 2019</h2>
<p>Heritage Day 2019 will take place in late September, hosted by the Federal Monuments Office. Many buildings will be open and conduct guided tours along the premises.
In cooperation with the Federal Monuments Office there will also be a photo contest involving those buildings, for further information
please visit <a href="https://tagdesdenkmals.at/" target="_blank">www.tagdesdenkmals.at</a>.</p>
-->