<h1>Tag des Denkmals</h1>
<p>Seit 2011 kooperiert das <a href="https://bda.gv.at/" target="_blank">Österreichische Bundesdenkmalamt</a> erfolgreich mit der Internet-Enzyklopädie Wikipedia.
  Alljährlich veröffentlicht das Bundesdenkmalamt zum <a href="https://tagdesdenkmals.at/" target="_blank">Tag des Denkmals</a> Listen zu ausgewählten Highlights der
  österreichischen Kulturlandschaft. Diese Listen werden von Wikipedia-Autor*innen in die Wikipedia übertragen und bilden die Grundlage für unseren gemeinsamen Fotowettbewerb.</p>

<h2>Fotowettbewerb zum Tag des Denkmals</h2>
<p>Bilder von Bauten und Objekten, die am Tag des Denkmals am 29. September 2024 (jeweils am letzten Sonntag im September) präsentiert werden, können ab dem 1. Juli bis zum
  6. Oktober 2024, 24:00 MESZ hochgeladen und für den Wettbewerb nominiert werden.
  Teilnehmende Objekte werden vom Bundesdenkmalamt auf <a href="https://tagdesdenkmals.at/"  target="_blank">tagdesdenkmals.at</a> bekanntgegeben.
  In vielen Fällen erlaubt der Tag des Denkmals auch Innenaufnahmen von sonst nicht zugänglichen Objekten.
  Der Fotowettbewerb ist damit Teil unserer Initiative WikiDaheim, die es sich zum Ziel gesetzt hat, österreichische Gemeinden zu bebildern und zu beschreiben.
Es gelten dieselben Regeln wie für WikiDaheim.</p>

<p>Regeln und Preise findest du auf der allgemeinen Seite zum <a href="https://www.wikidaheim.at/competition">Wettbewerb WikiDaheim</a>.</p>

<p>Für weitere Informationen und bei Fragen kannst du dich auch per Mail an uns wenden: info@wikilovesmonuments.at</p>
