<h1>Tag des Denkmals</h1>
<p>Seit 2011 kooperiert das <a href="https://www.bda.gv.at/" target="_blank">Österreichische Bundesdenkmalamt</a> (BDA) erfolgreich mit der Internet-Enzyklopädie Wikipedia.
  Alljährlich veröffentlicht das BDA zum <a href="https://tagdesdenkmals.at/" target="_blank">Tag des Denkmals</a> Listen zu ausgewählten Highlights der
  österreichischen Kulturlandschaft. Diese Listen werden von Wikipedia-Autor*innen in die Wikipedia übertragen und bilden die Grundlage für unseren gemeinsamen Fotowettbewerb. 
  In vielen Fällen erlaubt der Tag des Denkmals auch Innenaufnahmen von sonst nicht zugänglichen Objekten.</p>

<h2>Fotowettbewerb zum Tag des Denkmals</h2>
<p>Bilder von Bauten und Objekten, die am Tag des Denkmals am 27. September 2026 (wie immer am letzten Sonntag im September) präsentiert werden, können im gesamten Wettbewerbszeitraum 
  hochgeladen und für den Wettbewerb nominiert werden.<br />
  Die vom BDA auf <a href="https://tagdesdenkmals.at/"  target="_blank">tagdesdenkmals.at</a> bekanntgegebenen Bauwerke sind in Wikipedia in nach Bundesländern sortierten Listen und eränzt 
  um vorbereitete Links zum Hochladen zu finden: 
  <strong><a href="https://de.wikipedia.org/wiki/Wikipedia:Wiki_Loves_Monuments_%C3%96sterreich/Tagdesdenkmals_2026"  target="_blank">Wikipedia – Tag des Denkmals 2026</a></strong>.
  
  <p>Der Fotowettbewerb ist damit Teil unserer Initiative WikiDaheim, die es sich zum Ziel gesetzt hat, österreichische Gemeinden zu bebildern und zu beschreiben. Regeln und Preise findest du auf der 
    allgemeinen Seite zum <a href="https://www.wikidaheim.at/competition">Wettbewerb WikiDaheim</a>.</p>

<p>Für weitere Informationen und bei Fragen kannst du dich auch per Mail an uns wenden: info@wikilovesmonuments.at</p>
