<h1>Tag des Denkmals</h1>
<p>Tag des Denkmals is an event as part of the European Heritage Days organized in Austria by the
  <a href="https://bda.gv.at/" target="_blank">Austrian Bundesdenkmalamt</a> (BDA). Each year, the BDA publishes a list of participating objects
  about highlights of the Austrian cultural landscape at  
  <a href="https://tagdesdenkmals.at/" target="_blank">Tag des Denkmals</a>. Wikipedia cooperates with BDA in that Wikipedia authors mirror these lists to 
  Wikipedia, where they build the foundation of our common photo contest.
  </p>

<h2>Photo contest on Tag des Denkmals</h2>
<p>Photos of buildings and other objects, presented at the Tag des Denkmals on September 24<sup>th</sup>, 2023 (always the last sunday in September), can
  be uploaded from July 1<sup>st</sup> till October, 8<sup>th</sup>, 2023 (24:00 CEST), and nominated for the photo contest.
  You will find all the participating objects at <a href="https://tagdesdenkmals.at/"  target="_blank">tagdesdenkmals.at</a>.
  Tag des Denkmals often allows photos of interiors that are otherwise not publicly accessible.
  This photo contest is part of WikiDaheim, which aims to illustrate and describe Austrian municipalities.</p>
  <p>The same rules as for WikiDaheim do apply.</p>

<p>See general page <a href="https://www.wikidaheim.at/competition">Photo contest WikiDaheim</a> for rules and prizes.</p>

<p>Further contact: info@wikilovesmonuments.at</p>
