<h1>Tag des Denkmals</h1>
<p>Seit bald zehn Jahren kooperiert das <a href="https://bda.gv.at/" target="_blank">Österreichische Bundesdenkmalamt</a> erfolgreich mit der Internet-Enzyklopädie Wikipedia.
  Alljährlich veröffentlicht das Bundesdenkmalamt rund um den <a href="https://tagdesdenkmals.at/" target="_blank">Tag des Denkmals</a> Listen zu ausgewählten Highlights der
  österreichischen Kulturlandschaft. Diese werden von Wikipedia-Autor*innen in die Wikipedia übertragen und bilden die Grundlage für unseren gemeinsamen Fotowettbewerb.</p>

<h2>Fotowettbewerb zum Tag des Denkmals</h2>
<p>Bilder von Bauten und Objekten, die am Tag des Denkmals präsentiert werden, können von 1.&nbsp;September bis 3.&nbsp;Oktober eingereicht werden. Welche das sind wird auf
  <a href="https://tagdesdenkmals.at/"  target="_blank">tagdesdenkmals.at</a> bekannt gegeben. Der Fotowettbewerb ist damit Teil unserer Initiative WikiDaheim, die es sich zum Ziel
  gesetzt hat, österreichische Gemeinden zu bebildern und zu beschreiben.</p>

<p>Einreichzeitraum ist von 1. September bis 3. Oktober 2021.</p>

<h2>Mitmachen ist ganz einfach:</h2>
<p>Auf der offiziellen Website zum Tag des Denkmals befinden bei der Beschreibung eines jeden teilnehmenden Objekts Links zu Wikimedia Commons, dem zentralen Medienarchiv der
  Wikipedia und ihrer Schwesterprojekte. Über diese Links können Fotos zum jeweiligen Objekt hochgeladen werden und bleiben auch durch die freie Linenzierung der Allgemeinheit
  erhalten.</p>
<p>Für weitere Informationen und bei Fragen kannst Du auch per Mail an uns wenden: info@wikilovesmonuments.at</p>
<h2>Preise</h2>
Das Bundesdenkmalamt und Wikimedia Österreich stellen gemeinsam Sachpreise bereit:
<ul>
  <li>1.-3. Preis: Sachpreise des Bundesdenkmalamtes und jeweils ein Wikipedia-Goodie-Bag.</li>
</ul>
