<h1>Themen</h1>
<div class="TextPage-CategoryInfo">
  <div>
    <p>
      Am Beginn der Objekt-Listen der Suchfunktion auf wikidaheim.at findest du den Hinweis <i>Liste filtern</i> und daneben mehrere farbige Symbole. Durch Klick auf eines oder mehrere davon 
      kannst du auswählen, welche Objekte in der Karte markiert sowie in der Liste zu dem gewählten Ort angezeigt werden.
    </p>
  </div>
</div>
<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../assets/img/icon_denkmalliste.svg" role="presentation" />
  </aside>
  <div>
    <h2>Denkmäler</h2>
    <p>
      Dieses Thema umfasst alle etwa 39.300 vom Bundesdenkmalamt als schützenswert ausgewiesenen Objekte. Interessant sind vor allem der Zustand und jene Besonderheiten, 
      durch die es den Status als schützenswertes Objekt erlangte. Oft fehlen bei Denkmälern auch noch Detailaufnahmen oder es gab Veränderungen, durch die eine neue 
      Gesamtansicht von Interesse ist.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../assets/img/icon_naturdenkmaeler.svg" role="presentation" />
  </aside>
  <div>
    <h2>Natur</h2>
    <p>
      Dieses Thema umfasst die in Österreich geschützte Natur, sei es als Naturdenkmal,
      geschützter Landschaftsteil, Naturschutzgebiet oder Nationalpark.
      Vor allem die einzigartigen Aspekte dieses Lebensraums sind interessant.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../assets/img/icon_commons.svg" role="presentation" />
  </aside>
  <div>
    <h2>Gemeingüter</h2>
    <p>
      Jede Gemeinde verfügt über Gemeingüter, die für alle nutzbar sind
      oder der Allgemeinheit zugute kommen.
      Dazu zählen etwa Feuerwehr, Gemeindeamt bzw. Rathaus und Infrastruktur im Ort.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../assets/img/icon_kellergasse.svg" role="presentation" />
  </aside>
  <div>
    <h2>Kellergassen</h2>
    <p>
      Im Osten Österreichs werden viele Gemeinden durch die Kellergassen geprägt,
      die für die Weinkultur Österreichs von großer Bedeutung sind.
      Die Dokumentation der Kellergassen in ihrem heutigen Zustand
      ist von besonderem Interesse.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../assets/img/icon_friedhof.svg" role="presentation" />
  </aside>
  <div>
    <h2>Friedhöfe</h2>
    <p>
      Da liegen sie, die berühmten Frauen und Männer und die einfachen Menschen,
      vereint im Tode und immer noch ungleich mit ihren einfachen Gräbern und den aufwendigen Mausoleen und Grabdenkmälern.
      Die UNESCO hat <a href="https://de.wikipedia.org/w/index.php?title=Immaterielles_Kulturerbe_in_%C3%96sterreich#Q119733966">Wissen und Praxis der heimischen Bestatter*innen</a>
      zum immateriellen Kulturerbe erhoben.
      Friedhöfe sind also ein zentraler Ort für die Erinnerungskultur in Österreich.
      Vielleicht findet sich ja auch in deinem Ort ein Grabstein einer Person,
      die in Wikipedia einen Artikel hat!
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo">
  <aside>
    <img src="../assets/img/icon_public_art.svg" role="presentation" />
  </aside>
  <div>
    <h2>Public Art / Kultur</h2>
    <p>
      Kunst im öffentlichen Raum ist in vielen Gemeinden ein Identitätsfaktor
      und manchmal auch Streitpunkt zugleich.
      Die Dokumentation dieser Kunstwerke in all ihren Facetten ist
      hier besonders interessant.
      <br />
      Diese Thema umfasst auch die wenigen Elemente des Immateriellen Kulturerbes,
      die einer oder einigen wenigen Gemeinden zugeordnet sind.
    </p>
  </div>
</div>

<div class="TextPage-CategoryInfo" >
  <aside>
    <img src="../assets/img/icon_bilderwuensche.svg" role="presentation" />/>
  </aside>
  <div>
    <h2>Bilderwünsche</h2>
    <p>
      Und dann fehlen uns an vielen Stellen und auch in Wikidata Bilder.
      Über die prominenten Denkmäler hinaus gibt es da noch viele Bildstöcke,
      und dann noch Dörfer, Berge und Schluchten.
      Du kannst dir ein Bild von etwas wünschen, du kannst Wünsche anderer erfüllen.
    </p>
  </div>
</div>
