<h1>Wettbewerb Immaterielles Kulturerbe</h1>
<p>
Im Rahmen des länderübergreifenden Projekts <a href="https://meta.wikimedia.org/wiki/Wiki_Loves_Living_Heritage" target="_blank">Wiki Loves Living Heritage</a>
und in Kooperation mit der <a href="https://de.wikipedia.org/wiki/Österreichische_UNESCO-Kommission" target="_blank">Österreichischen UNESCO-Kommission</a>
(<a href="https://www.unesco.at/" target="_blank">Website</a>) suchen wir im Rahmen von WikiDaheim Beiträge zu den Einträgen in der Liste
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>.
Diese entsprechen den Einträgen im nationalen Verzeichnis des Immateriellen Kulturerbes der Österreichischen UNESCO-Kommission
 (die Kommission spricht von <i>Traditionen</i> oder <i>Praktiken</i>).
Unter Beiträgen verstehen wir Fotografien, aber auch Videos und Audiodateien zu den einzelnen Praktiken, aktuelles Material und auch vorhandenes Archivmaterial.
</p>
<p>
Als Teil von WikiDaheim 2023 wird ein Spezialpreis für das Immaterielle Kulturerbe in Österreich ausgelobt. Teilnahmeberechtigt sind Fotos zu den Einträgen in der Liste
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>.
Alle hochgeladenen Videos und Audiodateien zu den Praktiken des Immateriellen Kulturerbes nehmen automatisch
an den beiden Spezialpreisen <i>Bestes Video</i> und <i>Beste Audiodatei</i> teil.
</p>
<p>
Bilder, die zwischen dem 1. Juli und dem 15. September 2023 MESZ im Rahmen von WikiDaheim zum Immateriellen Kulturerbe in Österreich hochgeladen werden,
  nehmen automatisch am internationalen Wettbewerb
  <a href="https://meta.wikimedia.org/wiki/Wiki_Loves_Living_Heritage/European_photo_contest" target="_blank">Wiki Loves Living Heritage/European photo contest</a> teil.
  Die Auswahl der Bilder, die an die internationale Jury weitergeleitet werden, wird von der Österreichischen UNESCO-Kommission organisiert und liegt außerhalb von WikiDaheim.
</p>
<h2>Wie teilnehmen?</h2>
<p>
Wie kannst du Medien zu den einzelnen Traditionen im Rahmen des Wettbewerbs hochladen?
Einige wenige der Traditionen finden in einer konkreten Gemeinde statt (etwa ein bestimmter Umzug),
diese werden dann im Kontext einer Gemeinde auf WikiDaheim dargestellt (analog zu den Gemeingütern),
meist auch mit ungefähren Koordinaten auf der Karte lokalisiert.
Ein Hochladen von Medien zu nicht ortsgebundenen Traditionen direkt über WikiDaheim ist nicht möglich,
beispielsweise für Elemente die in ganz Österreich praktiziert werden.
Zu diesen Traditionen kannst du über die Liste
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>
Medien hochladen.
Diese Liste ist auch von WikiDaheim über den Link <i>Unesco</i> prominent erreichbar.
Generell kann diese Liste genutzt werden um Dateien zu allen Traditionen – lokale wie österreichweite – hochzuladen.
</p>
<p>
In der Liste gibt es in der Spalte <i>Bild / Video / Audio</i> je ein kleines Fotoapparatsymbol, über das du deine Werke zu dieser Tradition hochladen kannst.
Damit werden dann die Beschreibungsteile und Kategorien zu der Tradition/Praxis mit sinnvollen Werten vorbelegt.
Das Symbol erlaubt das Hochladen der unterschiedlichen Medientypen über ein einheitliches Formular.
Ein Einbinden der Medieninhalte in diese erste Spalte erfolgt nicht automatisch, Teilnehmer*innen sind eingeladen, sich auch daran zu versuchen.
</p>
<p>
  WikiDaheim ist ein offener Wettbewerb, hier ergeht die Einladung zur Teilnahme ausdrücklich auch an die Organisationen,
  die hinter den einzelnen Traditionen/Praktiken stehen.
</p>
<p>Regeln und Preise findest du auf der allgemeinen Seite zum <a href="https://www.wikidaheim.at/competition">Wettbewerb WikiDaheim</a>.</p>
