<h1>Wettbewerb Immaterielles Kulturerbe</h1>
<p>
In Kooperation mit der <a href="https://de.wikipedia.org/wiki/Österreichische_UNESCO-Kommission" target="_blank">Österreichischen UNESCO-Kommission</a>
(<a href="https://www.unesco.at/" target="_blank">Website</a>) suchen wir im Rahmen von WikiDaheim Beiträge zu den Einträgen in der Liste
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>.
Diese entsprechen den Einträgen im nationalen Verzeichnis des Immateriellen Kulturerbes der Österreichischen UNESCO-Kommission
 (die Kommission spricht von <i>Elementen</i>).
Unter Beiträgen verstehen wir Fotografien, aber auch Videos und Audiodateien zu den einzelnen Elementen, aktuelles Material und auch vorhandenes Archivmaterial.
Wir begrüßen Beiträge, die die Weiterentwicklung sowie den Wandel des immateriellen Kulturerbes dokumentieren z.B. durch Auseinandersetzung mit queeren und migrantischen Perspektiven.
</p>
<p>
Als Teil von WikiDaheim 2025 wird ein Spezialpreis für das Immaterielle Kulturerbe in Österreich ausgelobt. Teilnahmeberechtigt sind Fotos zu den Einträgen in der Liste
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>.
Alle hochgeladenen Videos und Audiodateien zu den Elementen des Immateriellen Kulturerbes nehmen automatisch
an den beiden Spezialpreisen <i>Bestes Video</i> und <i>Beste Audiodatei</i> teil.
</p>

<h2>Wie teilnehmen?</h2>
<p>
Wie kannst du Medien zu den einzelnen Elementen im Rahmen des Wettbewerbs hochladen?
Einige wenige der Elemente finden in einer konkreten Gemeinde statt (etwa ein bestimmter Umzug),
diese werden dann im Kontext einer Gemeinde auf WikiDaheim dargestellt (analog zu den Gemeingütern),
meist auch mit ungefähren Koordinaten auf der Karte lokalisiert.
Ein Hochladen von Medien zu nicht ortsgebundenen Elementen direkt über WikiDaheim ist nicht möglich,
beispielsweise für Elemente die in ganz Österreich praktiziert werden.
Zu diesen Elementen kannst du über die Liste
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>
Medien hochladen.
Diese Liste ist auch von WikiDaheim über den Link <i>Unesco</i> prominent erreichbar.
Generell kann diese Liste genutzt werden um Dateien zu allen Elementen – lokale wie österreichweite – hochzuladen.
</p>
<p>
In der Liste gibt es in der Spalte <i>Bild / Video / Audio</i> je ein kleines Fotoapparatsymbol, über das du deine Werke zu diesem Element hochladen kannst.
Damit werden dann die Beschreibungsteile und Kategorien zu dem Element mit sinnvollen Werten vorbelegt.
Das Symbol erlaubt das Hochladen der unterschiedlichen Medientypen über ein einheitliches Formular.
Ein Einbinden der Medieninhalte in diese erste Spalte erfolgt nicht automatisch, Teilnehmer*innen sind eingeladen, sich auch daran zu versuchen.
</p>
<p>
  WikiDaheim ist ein offener Wettbewerb, hier ergeht die Einladung zur Teilnahme ausdrücklich auch an die Organisationen,
  die hinter den einzelnen Elementen stehen.
</p>
<p>Regeln und Preise findest du auf der allgemeinen Seite zum <a href="https://www.wikidaheim.at/competition">Wettbewerb WikiDaheim</a>.</p>
