<h1>Contest Intangible Cultural Heritage</h1>
<p>
In the context of the international project <a href="https://meta.wikimedia.org/wiki/Wiki_Loves_Living_Heritage" target="_blank">Wiki Loves Living Heritage</a>
and in cooperation with the <a href="https://www.unesco.at/en/" target="_blank">Austrian Commission for UNESCO</a>
we are gladly inviting you to contribute to the entries in the list
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>
(<i>Intangible Cultural Heritage in Austria</i>; German only).
These entries correspond to the entries in the inventory of the Austrian Commission for UNESCO and are termed
  <i>traditions</i> or <i>practices</i>.
By contributions we mean photos, videos and audio files for each tradition, including fresh as well as archive material.
</p>
<p>
As part of WikiDaheim 2023 there will be a special prize for the Intangible Cultural Heritage in Austria. All photos illustrating entries in the list
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a> will participate.
All uploaded videos and audio files illustrating the listed traditions of Intangible Cultural Heritage will take part in the special prizes
<i>Best video</i> and <i>Best audio file</i> automatically.
</p>
<p>
  Photos of Intangible Cultural Heritage uploaded between July 1<sup>st</sup> and September 15<sup>th</sup> 2023 24:00 CEST (this is earlier than the general WikiDaheim contest!)
  will automatically take part in the international contest 
  <a href="https://meta.wikimedia.org/wiki/Wiki_Loves_Living_Heritage/European_photo_contest">Wiki Loves Living Heritage/European photo contest</a>.
  The selection of photos which are forwarded to the international jury will be organized by the Austrian UNESCO commission and is not in the scope of WikiDaheim.
</p>
<h2>Participation in the contest</h2>
<p>
How can you upload media to the traditions in the context of the WikiDaheim competition?
A few traditions/practices take place in a dedicated municipality and will be shown in the context of that municipality in WikiDaheim (like the Commons),
they will often have also rough coordinates and then will be shown in the map too.
For these and for all other traditions, e.g. those practiced across Austria, you can upload media using the list 
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>.
You can navigate to the list from WikiDaheim through the link <i>Unesco</i>.
Uploading for traditions that are not assigned to a specific location is not possible directly via WikiDaheim.
</p>
<p>
In the column <i>Bild / Video / Audio</i> of the list there is a small symbol of a camera.
A click on the camera symbol will allow you to upload your contributions for the specific tradition / practice. Some values in the upload process will be predefined.
You can use the same button for all media types (as far as they are accepted by Commons).
Insertion of uploaded media into the list is not done automatically.
</p>
<p>See general page <a href="https://www.wikidaheim.at/competition">Photo contest WikiDaheim</a> for rules and prizes.</p>
