<h1>Contest Intangible Cultural Heritage</h1>
<p>
In cooperation with the <a href="https://www.unesco.at/en/" target="_blank">Austrian Commission for UNESCO</a>
we are gladly inviting you to contribute to the entries in the list
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>
(<i>Intangible Cultural Heritage in Austria</i>; German only).
These entries correspond to the entries in the inventory of the Austrian Commission for UNESCO and are termed <i>practices</i>.
By contributions we mean photos, videos and audio files for each practice, including fresh as well as archive material.
We welcome any contribution that documents the development and change of the Intangible Cultural Heritage,
e.g. dealing with queer and migrant perspectives.
 Wir begrüßen Beiträge, die die Weiterentwicklung sowie den Wandel des immateriellen Kulturerbes dokumentieren z.B. durch
  Auseinandersetzung mit queeren und migrantischen Perspektiven. 
</p>
<p>
As part of WikiDaheim 2024 there will be a special prize for the Intangible Cultural Heritage in Austria. All photos illustrating entries in the list
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a> will participate.
All uploaded videos and audio files illustrating the listed practices of Intangible Cultural Heritage will take part in the special prizes
<i>Best video</i> and <i>Best audio file</i> automatically.
</p>

<h2>Participation in the contest</h2>
<p>
How can you upload media to the practices in the context of the WikiDaheim competition?
A few practices take place in a dedicated municipality and will be shown in the context of that municipality in WikiDaheim (like the Commons),
they will often have also rough coordinates and then will be shown in the map too.
For these and for all other practices, e.g. those practiced across Austria, you can upload media using the list 
<a href="https://de.wikipedia.org/wiki/Immaterielles_Kulturerbe_in_Österreich" target="_blank">Immaterielles Kulturerbe in Österreich</a>.
You can navigate to the list from WikiDaheim through the link <i>Unesco</i>.
Uploading for practices that are not assigned to a specific location is not possible directly via WikiDaheim.
</p>
<p>
In the column <i>Bild / Video / Audio</i> of the list there is a small symbol of a camera.
A click on the camera symbol will allow you to upload your contributions for the specific practice. Some values in the upload process will be predefined.
You can use the same button for all media types (as far as they are accepted by Commons).
Insertion of uploaded media into the list is not done automatically.
</p>
<p>See general page <a href="https://www.wikidaheim.at/competition">Photo contest WikiDaheim</a> for rules and prizes.</p>
