<h1>Wiki Loves Earth 2021 Österreich</h1>
<p><a href="https://de.wikipedia.org/wiki/Wikipedia:Wiki_Loves_Earth" target="_blank">Wiki Loves Earth</a> (WLE) ist ein international organisierter Fotowettbewerb 
  rund um Nationalparks, Naturschutzgebiete und Naturdenkmäler, der heuer <strong>von 1. Juli bis 31. Juli 2021</strong> 24 Uhr MESZ in Österreich im Rahmen von 
  WikiDaheim stattfindet.</p>
<p>Zur Teilnahme wähle beim Hochladen der Fotos über wikidaheim.at die Kategorie „Natur“. Die Bilder werden damit bei 
  <a href="https://commons.wikimedia.org" target="_blank">Wikimedia Commons</a> hochgeladen und zugleich für die Teilnahme am Wettbewerb markiert. Eine Übersicht der 
  Wettbewerbsbeiträge ist bei Wikimedia Commons in der <a href="https://commons.wikimedia.org/wiki/Category:Images_from_Wiki_Loves_Earth_2021_in_Austria" target="_blank">Sammelkategorie 
  Österreich 2021</a> abrufbar.</p>
<p>Weitere Informationen zum Wettbewerb sind auch <a href="https://de.wikipedia.org/wiki/Wikipedia:Wiki_Loves_Earth_2021/Österreich" target="_blank">hier</a> zu
  finden.</p>

<h2>Preise</h2>
<p>Die zehn besten Bilder aus der Kategorie „Landscape“ (Landschaft, Schutzgebiete, Naturdenkmale) und die fünf besten Bilder aus der Kategorie „Close-Up“ 
  (Pflanzen, Tiere) werden nach Auswahl durch eine Jury Ende August auch an den internationalen Wettbewerb weitergeleitet. Zusätzlich werden die 15 ausgewählten 
  Bilder im Rahmen von WikiDaheim mit Preisen ausgezeichnet.</p>
<ul>
  <li>1. Preis in der jeweiligen Kategorie: je ein 50-€-Gutschein für Fotoequipment oder Fotoentwicklung, ein Wikipedia-Goodie-Bag und Nominierung im internationalen 
    WLE-Wettbewerb</li>
  <li>2.-10. Platz „Landscape“ sowie 2.-5. Platz „Close-Up“: Wikipedia-Goodie-Bags und Nominierung im internationalen WLE-Wettbewerb</li>
</ul>  
