<h1>Wiki Loves Monuments in Austria</h1>
<p>Wiki Loves Monuments in Austria is integral part of WikiDaheim and the Austrian contribution to the international photo contest
  <a href="https://commons.wikimedia.org/wiki/Commons:Wiki_Loves_Monuments/en" target="_blank">Wiki Loves Monuments</a> (WLM).
  Pictures of cultural heritage monuments (marked in red in wikidaheim.at) from the overall WikiDaheim contest
  automatically take part in the local WLM contest and will be awarded with a special prize.
  Best 10 pictures of cultural heritage monuments uploaded between September 7<sup>th</sup> and October 6<sup>th</sup> will be nominated also for the international contest.
  If you want your image to be eligible for WLM international, you have to wait with your upload until September.</p>

<p>On <a href="https://de.wikipedia.org/wiki/Wikipedia:Wiki_Loves_Monuments_2023/Österreich" target="_blank">Wiki Loves Monuments in Österreich</a> you can find
  the inventory of all cultural heritage monuments in Austria, that are in the scope of this photo contest.</p>

<p>See general page <a href="https://www.wikidaheim.at/competition">Photo contest WikiDaheim</a> for rules and prizes.</p>
