<h1>Wiki Loves Monuments 2020 in Österreich / Tag des Denkmals</h1>
<p>Seit bald zehn Jahren kooperiert das <a href="https://bda.gv.at/" target="_blank">Österreichische Bundesdenkmalamt</a> erfolgreich mit der Internet-Enzyklopädie Wikipedia. 
  Alljährlich veröffentlicht das Bundesdenkmalamt rund um den <a href="https://tagdesdenkmals.at/" target="_blank">Tag des Denkmals</a> Listen zu ausgewählten Highlights der 
  österreichischen Kulturlandschaft. Diese werden von Wikipedia-Autor*innen in die Wikipedia übertragen und bilden die Grundlage für unseren gemeinsamen Fotowettbewerb.</p>

<h2>Fotowettbewerb zum Tag des Denkmals</h2>
<p>Die für den 27. September geplanten Veranstaltungen des Bundesdenkmalamtes zum Tag des Denkmals 2020 wurden aufgrund der 
  <a href="https://de.wikipedia.org/wiki/COVID-19-Pandemie_in_Österreich" target="_blank">COVID-19-Pandemie</a> abgesagt. In der Folge findet auch der Spezialpreis für den Tag des Denkmals im Rahmen des 
  WikiDaheim-Fotowettbewerbs nicht statt.</p>

<!--
  widmet sich, entsprechend dem Europa-Thema 2020 „Heritage and Education“, dem „Bauen und Bilden“, wobei in Österreich die Bereiche
  Digitalisierung und historische Handwerkstechniken im Fokus stehen werden. Alle Bilder von Bauten und Objekten, die am Tag des Denkmals teilnehmen, 
  können für diesen Wettbewerb eingereicht werden. Der Fotowettbewerb ist damit Teil unserer Initiative WikiDaheim, die es sich zum Ziel gesetzt hat österreichische 
  Gemeinden zu bebildern und zu beschreiben.</p>

<p>Einreichzeit ist von 1. September bis 4. Oktober 2020</p>

<h2>Mitmachen ist ganz einfach:</h2>
<p>Auf der hiesigen Website finden sich Informationen zu allen Objekten, die am Fotowettbewerb teilnehmen können. 
  Zusätzlich findet sich auf der offiziellen Webseite zum 
  Tag des Denkmals bei der Beschreibung eines jeden teilnehmenden Objekts ein Link zu Wikimedia Commons, dem zentralen Medienarchiv der Wikipedia und ihrer Schwesterprojekte. 
  Unter diesem Link können Fotos zu dem Objekt 
unter einer freien Lizenz hochgeladen werden und bleiben damit der Allgemeinheit erhalten.
  Den Gewinner*innen winken attraktive Sachpreise und Gutscheine.</p>

<p>Für weitere Informationen und bei Fragen kannst Du auch per Mail an uns wenden: info@wikilovesmonuments.at</p>
-->
