<h1>Wiki Loves Monuments 2019 in Österreich / Tag des Denkmals</h1>
<p>Seit rund acht Jahren kooperiert das Bundesdenkmalamt erfolgreich mit der Internet-Enzyklopädie Wikipedia. Alljährlich veröffentlicht das Bundesdenkmalamt rund um den Tag des Denkmals Listen zu ausgewählten Highlights der österreichischen Kulturlandschaft. Diese werden von Wikipedia-Autor*innen in die Wikipedia übertragen und bilden die Grundlage für unsere gemeinsamen Fotowettbewerbe.</p>

<h2>Fotowettbewerb zum Tag des Denkmals</h2>
<p>Der Wettbewerb in diesem Jahr stand ganz im Zeichen des Europäischen Kulturerbejahrs: Alle Bilder von Bauten und Objekten, die am Tag des Denkmals teilnehmen, können für diesen Wettbewerb eingereicht werden. Der Fotowettbewerb ist damit Teil unserer Initiative WikiDaheim, die es sich zum Ziel gesetzt hat österreichische Gemeinden zu bebildern und zu beschreiben.</p>

<p>Einreichzeit war vom 1. September bis 6. Oktober 2019</p>

<h2>Mitmachen ist ganz einfach:</h2>
<p>Auf der hiesigen Website finden sich Informationen zu allen Objekten, die am Fotowettbewerb teilnehmen können. Zusätzlich findet sich auf der offiziellen Webseite zum Tag des Denkmals bei der Beschreibung eines jeden teilnehmenden Objekts ein Link zu “Wikimedia Commons“, dem zentralen Medienarchiv der Wikipedia und ihrer Schwesterprojekte. Unter diesem Link können Fotos zu dem Objekt 
unter einer freien Lizenz hochgeladen werden und bleiben damit der Allgemeinheit erhalten. Den Gewinner*innen winken attraktive Sachpreise und Gutscheine.</p>

<p>Für weitere Informationen und bei Fragen kannst Du auch per Mail an uns wenden: info@wikilovesmonuments.at</p>
