<h1>Wiki Loves Monuments in Österreich</h1>
<p>Im Rahmen von WikiDaheim findet auch die österreichische Ausgabe des internationalen Foto-Wettbewerbs
  <a href="https://commons.wikimedia.org/wiki/Commons:Wiki_Loves_Monuments/de" target="_blank">Wiki Loves Monuments</a> (WLM) statt.
  Bilder denkmalgeschützter Objekte (erkennbar an der roten Markierung) aus dem Hauptbewerb
  nehmen automatisch auch an Wiki Loves Monuments teil und werden im Rahmen von WikiDaheim mit einem Spezialpreis ausgezeichnet. 
  Die zehn bestplatzierten Bilder denkmalgeschützter Objekte werden darüber hinaus für den internationalen Wettbewerb nominiert.</p>
<p>Auf der Seite zu <a href="https://de.wikipedia.org/wiki/Wikipedia:Wiki_Loves_Monuments_2023/Österreich" target="_blank">Wiki Loves Monuments in Österreich</a>
  sind Listen zu Informationen zu allen denkmalgeschützten Objekten zu finden, die am Fotowettbewerb teilnehmen können.</p>

<p>Regeln und Preise findest du auf der allgemeinen Seite zum <a href="https://www.wikidaheim.at/competition">Wettbewerb WikiDaheim</a>.</p>
