html {
  font-family: $main-font;

  font-size:12px;

  @include lg {
    font-size: 14px;
  }

  @include xl {
    font-size: 16px;
  }
}

.Dashboard {
  height:100vh - $header-height;
  max-height:calc(100vh - 6em);
  display:flex;
  flex-direction: column;

  .DashboardHeader {
    //flex:0;
  }

  .Dashboard-Content {
    flex:1;
    position:relative;
    overflow:auto;
  }
}

.ResultView {
  display:flex;
  flex-direction: column-reverse;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  @include md {
    flex-direction: row;
  }

  .ResultList {
    overflow:auto;
    flex:3;
  }

  .ResultMap {
    flex:1;
    position:relative;

    @include md {
      flex: 3;
    }

    .mapboxgl-map {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
    }
  }
}

.TextPage {
  margin: 5vh auto 3em;
  padding: 0 1em;
  text-align:left;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;

  width: 90%;
  @include sm { width: 66.666666%; }
  @include ml { width: 33%; }

  h1 {
    text-align:center;
  }

  h2, h3 {
    margin-top:2em;
    font-weight: normal;
  }

  p {
    a {
      padding: 0 .5em;
      color: $unavailable-color;
    }
  }

  ul {
    padding-left:20px;

    li {
      margin-bottom: .5em;
    }
  }

  &.TextPage-Competition {

    h2 {
      margin-top:2em;
    }
  }

  &.TextPage-Credits {
    p {
      text-align: center;
    }

    h2 {
      text-align:center;
      margin-top:2em;
    }
  }

  .TextPage-CategoryInfo {
    display:flex;
    align-items: center;
    border-bottom: 1px solid rgb(196, 196, 196);
    text-align:left;
    padding:2em 0;

    &:last-child {
      border-bottom: none;
    }

    h2 {
      margin-top:0;
    }

    p {
      margin-bottom:0;
    }

    aside {
      width:50px;
      margin-right:1.5em;

      @include sm {
        width: 150px;
      }
    }

    div {
      flex: 1;

    }
  }
}

.IntroScreen {
  width: 90%;
  @include sm { width: 66.666666%; }
  @include ml { width: 33%; }

  .IntroScreen-CategoryList {
    display:flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow:hidden;
    margin-bottom:2em;

    img {
      flex: 1;
      min-width:0;
      max-height:85px;
    }
  }

  hr {
    margin-top: 3em;
    background: $primary-color;
    height: 1px;
    border: none;
  }

  .Menu-link, .Menu-link--imprint, .Menu-link--facebook {
    color: #595a99;
    padding-right: 1em;

    &:hover {
      color: $primary-color;
    }
  }

  footer {
    display: inline;
  }
}
