html {
  font-family: $main-font;

  font-size:12px;

  @include lg {
    font-size: 14px;
  }

  @include xl {
    font-size: 16px;
  }
}

.Dashboard {
  height:calc(100vh - #{$header-height});
  display:flex;
  flex-direction: column;

  .DashboardHeader {
    //flex:0;
  }

  .Dashboard-Content {
    flex:1;
    position:relative;
    overflow:auto;
  }
}

.ResultView {
  position: fixed;
  display:flex;
  flex-direction: column-reverse;
  top: $header-height;
  right:0;
  bottom:0;
  left:0;
  overflow: hidden;

  @include md {
    position: absolute;
    top: 0;
    flex-direction: row;
  }

  .ResultList {
    flex:3;
    position: absolute;
    height: 80%;
    top: calc(100% - 4.5rem);
    left: 0;
    right: 0;
    z-index: $z-index-menu - 9;
    transition: top .4s ease;

    @include md {
      height: auto;
      top: 1.5rem;
      left: 1rem;
      right: auto;
      transition: none;
    }
  }

  .ResultMap {
    flex:1;
    position:relative;
    transform: translateY(-40%);
    transition: transform .4s ease;

    @include md {
      flex: 3;
      transform: none;
      transition: none;
    }

    .mapboxgl-map {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
    }
  }

  &.ResultView-Map {
    .ResultMap {
      transform: translateY(0);

      @include md {
        transform: none;
      }
    }
  }

  &.ResultView-List {
    .ResultList {
      top: 20%;

      @include md {
        top: 1.5rem;
      }
    }
  }
}

.TextPage {
  margin: 5vh auto 3em;
  padding: 0 1em;
  text-align:left;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;

  width: 90%;
  @include sm { width: 66.666666%; }
  @include ml { width: 50%; }

  h1 {
    text-align:center;
  }

  h2, h3 {
    margin-top:2em;
  }

  a {
    color: $unavailable-color;
  }

  ul {
    padding-left:20px;

    li {
      margin-bottom: .5em;
    }
  }

  p {
    font-family: sans-serif;
    font-size: 1.2em;

  }

  &.TextPage--credits {
    h2,
    p {
      text-align: center;
    }
  }

  &.TextPage--index {
    margin: 0;
    padding: 2rem 2rem 1rem;
    width: auto;
    background-color: white;
    box-shadow:.1em .1em .3em rgba(0,0,0,.15);
    font-size: 0.9em;
    overflow: auto;

    @include md {
      margin: 0 0.5rem;
    }

    h2 {
      margin-top: 1.5em;
      margin-bottom: 0.5rem;
    }
  }

  .TextPage-CategoryInfo {
    display:flex;
    align-items: center;
    border-bottom: 1px solid rgb(196, 196, 196);
    text-align:left;
    padding:2em 0;

    &:last-child {
      border-bottom: none;
    }

    h2 {
      margin-top:0;
    }

    p {
      margin-bottom:0;
    }

    aside {
      width:50px;
      margin-right:1.5em;

      @include sm {
        width: 150px;
      }
    }

    div {
      flex: 1;

    }
  }
}
