html {
  font-family: $main-font;

  font-size:10px;

  @include lg {
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

.Dashboard {
  height:100vh - $header-height;
  max-height:calc(100vh - 6em);
  display:flex;
  flex-direction: column;

  .Dashboard-Header {
    flex:0;
  }

  .Dashboard-Content {
    flex:1;
    position:relative;
    overflow:auto;
  }
}

.ResultView {
  display:flex;
  flex-direction: column-reverse;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  @include md {
    flex-direction: row;
  }

  .ResultList {
    overflow:auto;
    flex:3;
  }

  .ResultMap {
    flex:1;

    @include md {
      flex: 3;
    }
  }
}

.TextPage {
  max-width: 550px;
  margin: 5vh auto 3em;
  padding: 0 1em;
  text-align:center;
  position: relative;

  p {
    text-align: justify;

    a {
      padding: 0 .5em;
    }
  }

  ul {
    text-align:left;
    padding-left:20px;

    li {
      margin-bottom: .5em;
    }
  }

  &.TextPage-Competition {
    text-align:left;

    p {
      text-align:left;
    }

    h2 {
      margin-top:2em;
    }
  }

  &.TextPage-Credits {
    p {
      text-align: center;
    }

    h2 {
      margin-top:2em;
    }
  }

  .TextPage-CategoryInfo {
    display:flex;
    align-items: center;
    border-bottom: 1px solid rgb(196, 196, 196);
    text-align:left;
    padding:2em 0;

    &:last-child {
      border-bottom: none;
    }

    h2 {
      margin-top:0;
    }

    p {
      margin-bottom:0;
    }

    aside {
      width:50px;
      margin-right:1.5em;

      @include sm {
        width: 150px;
      }
    }

    div {
      flex: 1;

    }
  }
}

.IntroScreen {
  max-width: 500px;

  .IntroScreen-CategoryList {
    display:flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow:hidden;
    margin-bottom:2em;

    img {
      flex: 1;
      min-width:0;
      max-height:85px;
    }
  }
}
