$header-height: 8vh;

$primary-color: rgb(36, 34, 76);
$primary-color-contrast: white; //the color for text on the primary color

$secondary-color: rgb(57, 57, 114);
$secondary-color-contrast: white;

$unaviable-color: rgb(199, 73, 78);

$text-color: #24224c;

$z-index-menu: 10;
$z-index-suggestions: 500;
