.CityInfo {
  margin: 0 0.5rem 1rem;
  background-color: white;
  color: $primary-color;
  padding: 0 1rem 1rem;
  box-shadow:.1em .1em .3em rgba(0,0,0,.15);
  z-index: $z-index-menu - 10;

  .CityInfo-Content {
    padding-left: 0.2rem;

    .CityInfo-Link {
      color: $primary-color;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0.2rem 0 0 4rem;
      margin: 1.5rem 0;
      line-height: 1.5em;
      height: 3rem;

      strong {
        font-size: 1.5rem;
      }

      span {
        font-family: sans-serif;
        color: fade_out($primary-color, 0.4);

        a {
          color: fade_out($primary-color, 0.4);
        }
      }

      &::before {
        content:'';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width:3rem;
        height:3rem;
        padding:.2rem;
        margin-right: 1rem;
        background-color: $primary-color;

        background-image:url(../assets/icons/icon_upload.svg);
        background-size:contain;
        background-repeat: no-repeat;
        background-origin: content-box;
      }

      &.CityInfo-Link-Wiki {
        &::before {
          background-image:url(../assets/icons/icon_edit.svg);
        }
      }
    }
  }

  .CityInfo-Footer {
    border-top: 1px solid rgba(0,0,0,.2);
    display: flex;
    margin-top: 0.75rem;
    padding-top: 0.75rem;

    .CityInfo-Link {
      color: rgba(0,0,0,.8);
      text-decoration: underline;
      padding-right: 1em;
    }
  }
}

.ExternalLink-Overlay {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,.6);
  backdrop-filter: blur(5px);
  z-index: $z-index-menu + 100;

  .ExternalLink-Overlay-Inner {
    background-color:white;
    position:relative;
    padding:3em;

    @include sm {
      position:absolute;
      top:50%;
      left: 50%;
      max-width:500px;
      transform: translate(-50%, -50%);
    }

    button {
      position:absolute;
      top:3em;
      right:3em;
      line-height:2em;
      text-decoration: underline;
    }

    h1 {
      margin-top:0;
      font-size:1.4em;
      margin-bottom:1em;
    }

    a {
      display:block;
      line-height:2.5em;
      background-color: $secondary-color;
      color: $secondary-color-contrast;
      font-size:1.2em;
      text-decoration:none;
      padding:0 .5em;
      text-align:center;
    }
  }
}
