.react-cookie-banner {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left !important;
  padding: 1rem;
  height: auto !important;

  .cookie-message {
    padding-right: 3rem;
    line-height: 1.5em !important;
  }
}
