.CategoryFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(100,100,100);

  &:after {
    content: "";
    flex: auto;
  }

  .CategoryFilter-Item {
    width: 100%;
    text-align:center;

    border:1px solid rgba(255,255,255,.05);
    
    @include sm {
      width: 50%;
    }

    @include md {
      width: 16.666%;
    }

    button{
      font-size:1.4em;
      padding:calc(2vh + 0.2em) 0;
      width:100%;
      color: $primary-color-contrast;
      text-decoration: line-through;
      opacity:.5;
      transition:opacity .2s;
    }

    &.CategoryFilter-Item--active {
      button {
        text-decoration:underline;
        opacity:1;
      }
    }
  }
}

.PropertyFilter {
  display:flex;

  button.PropertyFilter-Item {
    position: relative;
    flex: 1;
    background-color: $primary-color;
    color: $primary-color-contrast;
    text-align: center;
    font-size: 1.4em;
    padding: calc(2vh + 0.2em) 0;
    border-right: 1px solid rgba(255,255,255,.2);
    transition: background-color .2s ease;

    &:last-child {
      border-right:none;
    }

    &:hover {
      background-color: lighten($primary-color, 5%);
    }

    span {
      position:absolute;
      right:1em;
      bottom:calc(2vh + 0.2em);
      width:1.8em;
      height: 1.8em;
      background-image: url(../assets/icons/icon_unchecked.svg);
      background-repeat:no-repeat;
      background-position:center;
      background-size: contain;
    }

    &.PropertyFilter-Item--active {
      span {
        background: url(../assets/icons/icon_checked.svg);
        background-repeat: no-repeat;
      }
    }
  }
}
