.Header {
  height: $header-height;
  min-height: 4em;

  .Header-bar {
    display: flex;
    position:fixed;
    z-index:$z-index-menu - 1;
    top:0;
    left:0;
    right:0;
    background-color:white;
    height: $header-height;
    min-height: 4em;
    overflow:hidden;
    align-items:center;

    img {
      height: $header-height;
      padding:1em;
      min-height:4em;
      box-sizing: border-box;
    }

    .Header-claim {
      flex: 1;
      text-align: center;
      display:flex;
      align-items:center;

      button {
        height:$header-height/10*6;
        min-height:2em;
        width:100%;
        margin:0 2em;
        background-image:url(../assets/img/wikidaheim-claim.svg);
        background-repeat:no-repeat;
        background-size: contain;
        background-position:center;
      }
    }

    .Header-menuToggle {
      width: $header-height/3*2;
      min-width: 2em;
    }
  }

  .Header-menu {
    z-index: $z-index-menu;
    background-color: $primary-color;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    padding:$header-height 5vw 0;
    transform: translateX(100%);

    transition: transform .4s ease;

    &.Header-menu--active {
      transform: translateX(0);
    }

    .Menu-link--imprint {
      color:white;
      position:absolute;
      bottom:1em;
      right: 1em;
    }

    a {
      display: block;
      text-decoration: none;

      span {
        display: inline-block;
        color: $primary-color-contrast;
        font-size: 3em;
        position: relative;
        margin-bottom: .5em;

        &:after {
          content:'';
          position:absolute;
          left:0;
          bottom:0;
          width:0;
          height:0;
          border-bottom:.1em solid fade-out($primary-color-contrast, .5);
          transition:width .2s ease, border-bottom-color .2s ease;
        }
      }

      &:hover {
        span {
          &:after {
            width:100%;
          }
        }
      }

      &.Menu-link--active span {
        &:after {
          width: 100%;
          border-bottom-color: $primary-color-contrast;
        }
      }
    }
  }
}
