.Header {
  height: $header-height;
  min-height: 6em;

  .Header-bar {
    display: flex;

    img {
      height: $header-height;
      padding:1em;
      min-height:6em;
    }

    .Header-claim {
      flex: 1;
      text-align: center;

      img {
        padding: 2em;
      }
    }
  }

  .Header-menu {
    z-index: $z-index-menu;
    background-color: $primary-color;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    padding:$header-height 5vw 0;
    transform: translateX(100%);

    transition: transform .4s ease;

    &.Header-menu--active {
      transform: translateX(0);
    }

    a {
      display: block;
      text-decoration: none;

      span {
        display: inline-block;
        color: $primary-color-contrast;
        font-size: 3em;
        position: relative;
        margin-bottom: .5em;

        &:after {
          content:'';
          position:absolute;
          left:0;
          bottom:0;
          width:0;
          height:0;
          border-bottom:.1em solid fade-out($primary-color-contrast, .5);
          transition:width .2s ease, border-bottom-color .2s ease;
        }
      }

      &:hover {
        span {
          &:after {
            width:100%;
          }
        }
      }

      &.Menu-link--active span {
        &:after {
          width: 100%;
          border-bottom-color: $primary-color-contrast;
        }
      }
    }
  }
}
