.ResultList {
  display: flex;
  height:100%;
  overflow:hidden;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

  .ResultList-ListWrapper {
    flex: 1;
    overflow:hidden;
  }

  @include md {
    position: absolute;
    z-index: 1000;
    width:33%;
    min-width: 400px;
    max-width: 600px;
    height: auto;
    max-height: calc(100vh - #{$header-height} - 2rem);
    overflow: visible;
    background-color: transparent;
    box-shadow: none;
  }

  @include lg {
    min-width: 470px;
  }
}

.ResultListItem {
  margin: 1rem 0.5rem;
  box-shadow:.1em .1em .3em rgba(0,0,0,.15);
  min-height:100px;
  max-height:100px;
  transition:background-color .2s ease;
  cursor: pointer;
  color: $text-color;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  transition: max-height .2s ease;
  overflow: hidden;

  @include md {
    min-height: 130px;
    max-height: 130px;
  }

  &:nth-child(2) {
    margin-top:0;
  }

  &.ResultListItem--active {
    background-color:rgba(235, 235, 235, 0.9);
  }

  &.ResultListItem--selected {
    background-color: rgba(255, 255, 255, 0.9);
    cursor: auto;
    max-height: 530px;

    .Details {
      .Details-right {
        display: block;
      }

      a {
        display: inline;
      }
    }
  }

  .Details-Container {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    height: 100px;

    @include md {
      height: 130px;
    }
  }

  .PhotoContainer {
    width:20%;
    flex-shrink: 0;
    position:relative;
    margin-right:1em;
    background: rgba(0,0,0,.2);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;

    &.PhotoContainer--Audio {
      background: white;
      background-image: url(../assets/icons/loudspeaker.svg);
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
    }

    .PhotoContainer-InfoButton {
      display:block;
      position:absolute;
      bottom:.25em;
      left:.25em;
      width:2em;
      height:2em;
      opacity:.8;
      transition:opacity .2s ease;

      background-image:url(../assets/icons/icon_info.svg);
      background-size:contain;
      background-repeat: no-repeat;
      background-origin: content-box;

      &:hover {
        opacity: 1;
      }

      span {
        display:none;
      }
    }

    .PhotoContainer-UploadButton {
      display:block;
      position:absolute;
      top:0;
      right:0;
      width:2.5em;
      height:2.5em;
      padding:.2em;

      background-image:url(../assets/icons/icon_upload.svg);
      background-size:contain;
      background-repeat: no-repeat;
      background-origin: content-box;

      span {
        display:none;
      }
    }
  }

  .Details {
    padding:1em 1em 1em 0;
    display:flex;
    box-sizing:border-box;
    flex-direction: column;
    flex: 1;

    .Details-Title {
      flex: 1;
    }

    .Details-Category,
    .Details-Location {
      font-size: .8em;
    }

    .Details-Location {
      span { padding-right: 0.5em; }
      br { display: none; }

      @include md {
        span { padding-right: 0; }
        br { display: inherit; }
      }
    }

    @include sm {
      padding-bottom:1em;
      overflow: hidden;
    }

    h2 {
      margin:0;
      font-size:1em;
      color: $primary-color;
    }

    p, strong {
      font-size:.9em;
      display:block;
    }

    p {
      margin-bottom:0;
      max-heigt: 5em;
      overflow:hidden;
    }

    a {
      font-size:.9em;
      display: none;
    }
  }

  .Details-Text {
    height: 9rem;
    padding: 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color:rgba(0, 0, 0, 0.05);

    p {
      margin-bottom: 0;
    }
  }

  .Details-Links {
    display: flex;
    padding: 1rem;

    a {
      padding-right: 1rem;
      padding-left: 2.5rem;
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      line-height: 2rem;
      font-size: 0.85em;

      @include md {
        padding-right: 1.5rem;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width:2rem;
        height:2rem;
        padding:.2rem;
        margin-right: 1rem;
        background-color: $primary-color;

        background-image:url(../assets/icons/icon_upload.svg);
        background-size:contain;
        background-repeat: no-repeat;
        background-origin: content-box;
      }

      &.Details-Link-Article {
        &::before {
          background-image:url(../assets/icons/icon_plus.svg);
        }
      }
    }
  }
}

.ResultList-EmptyInfo {
  box-shadow:.1em .1em .3em rgba(0,0,0,.15);
  background-color: white;
  margin: 0 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
}
