.ResultList {
  display: flex;
  height:100%;
  overflow:hidden;
  flex-direction: column;

  .ResultList-ListWrapper {
    flex: 1;
    overflow:hidden;
  }

  @include md {
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    z-index: 1000;
    width:33%;
    min-width: 300px;
    max-width: 600px;
  }
}

.ResultListItem {
  display:flex;
  margin:.5em;
  box-shadow:.1em .1em .3em rgba(0,0,0,.15);
  min-height:130px;
  max-height:130px;
  transition:background-color .2s ease;
  flex-direction: row;
  align-items:stretch;
  cursor: pointer;
  color: $text-color;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  transition: max-height .2s ease;

  @include sm {
    margin: 1em;
  }

  &:nth-child(2) {
    margin-top:0;
  }

  &.ResultListItem--active {
    background-color:rgba(235, 235, 235, 0.9);
  }

  &.ResultListItem--selected {
    background-color:lighten($primary-color, 60%);
    max-height: 250px;

    .Details {
      .Details-right {
        display: block;
      }

      a {
        display: inline;
      }
    }
  }

  .PhotoContainer {
    width:20%;
    flex-shrink: 0;
    position:relative;
    margin-right:1em;
    background: rgba(0,0,0,.2);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;

    &.PhotoContainer--Audio {
      background-image: url(../assets/icons/loudspeaker.svg);
      background-size: 70%;
      background-position: center;
    }

    .PhotoContainer-InfoButton {
      display:block;
      position:absolute;
      bottom:.25em;
      left:.25em;
      width:2em;
      height:2em;
      opacity:.8;
      transition:opacity .2s ease;

      background-image:url(../assets/icons/icon_info.svg);
      background-size:contain;
      background-repeat: no-repeat;
      background-origin: content-box;

      &:hover {
        opacity: 1;
      }

      span {
        display:none;
      }
    }

    .PhotoContainer-UploadButton {
      display:block;
      position:absolute;
      top:0;
      right:0;
      width:2.5em;
      height:2.5em;
      padding:.2em;

      background-image:url(../assets/icons/icon_upload.svg);
      background-size:contain;
      background-repeat: no-repeat;
      background-origin: content-box;

      span {
        display:none;
      }
    }
  }

  .Details {
    flex: 1;
    display:flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;

    .Details-left {
      padding:1em;
      display:flex;
      box-sizing:border-box;
      flex-direction: column;
      flex: 1;

      .Details-Title {
        flex:1;
      }

      .Details-Location {
        font-size: .8em;
      }

      @include sm {
        padding-bottom:1em;
        overflow: hidden;
      }
    }

    .Details-right {
      display: none;
      padding:1em;
      font-family: sans-serif;
    }

    h2 {
      margin:0;
      font-size:1em;
      color: $primary-color;
    }

    p, strong {
      font-size:.9em;
      display:block;
    }

    p {
      margin-bottom:0;
      max-heigt: 5em;
      overflow:hidden;
    }

    a {
      font-size:.9em;
      display: none;
    }
  }
}
